# Generate the phenotypes for the hearing impairment traits from the UKBB

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# 1. Read in the data

## 1.1. Read in database

In [2]:
# collect the necessary column names of the database for our analysis

with open("/mnt/mfs/statgen/UKBiobank/phenotype_files/HI_UKBB/082321_UKBB_exomes.csv") as fp:
    line = fp.readline() # header
    header = line.split(",")
    
    indiv = ["IID", "FID"]
    icd10_colnames = [col.strip('"') for col in header if "f.41270." in col]
    icd10_ages = [col.strip('"') for col in header if "f.41280." in col]
    icd9_colnames = [col.strip('"') for col in header if "f.41271." in col]
    icd9_ages = [col.strip('"') for col in header if "f.41281." in col]
    f20002_colnames = [col.strip('"') for col in header if "f.20002." in col]
    reported_sex = ["f.31.0.0"]
    genetic_sex = ["f.22001.0.0"]
    ethnicity = [col.strip('"') for col in header if "f.21000." in col]
    hearing_imp_f3393 = [col.strip('"') for col in header if "f.3393." in col]
    hearing_imp_f2247 = [col.strip('"') for col in header if "f.2247." in col]
    hearing_imp_f2257 = [col.strip('"') for col in header if "f.2257." in col]
    tin_cols = [col.strip('"') for col in header if "f.4803." in col]
    ages_f21003_col = [col.strip('"') for col in header if "f.21003." in col]
    ages_f131258_col = [col.strip('"') for col in header if 'f.131258.' in col]
    year_of_birth = [col.strip('"') for col in header if "f.34." in col]
    month_of_birth = [col.strip('"') for col in header if "f.52." in col]

In [3]:
# combine the column names into one list
combined_cols = indiv + icd10_colnames + icd10_ages + icd9_colnames + icd9_ages + f20002_colnames + ethnicity + reported_sex + genetic_sex + hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257 + tin_cols + ages_f21003_col + ages_f131258_col + year_of_birth + month_of_birth

In [4]:
print(datetime.now())

2022-03-09 16:11:33.360094

In [5]:
# database of all individuals that we are working with and the selected phenotypes
df = pd.read_csv("/mnt/mfs/statgen/UKBiobank/phenotype_files/HI_UKBB/082321_UKBB_exomes.csv", quotechar = '"', dtype="string", usecols=combined_cols)
df

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.38,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [5]:
# database of all individuals that we are working with and the selected phenotypes
df = pd.read_csv("/mnt/mfs/statgen/UKBiobank/phenotype_files/HI_UKBB/082321_UKBB_exomes.csv", quotechar = '"', dtype="string", usecols=combined_cols)
df

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.38,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [147]:
print(datetime.now())

2022-03-08 20:08:21.985999

## 1.2. Read in exclusion criteria for icd10, icd9, and self-report

In [6]:
# csv file that contains information on the exclusion criteria for cases and controls
exclusion = pd.read_csv("~/UKBiobank/phenotype_files/HI_UKBB/ICD10_9_selfreport_incl_excl.csv")
exclusion

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
0,f.41270,H60-H62 Diseases of external ear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,f.41270,H60 Otitis externa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,f.41270,H60.0 Abscess of external ear,32.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN
3,f.41270,H60.1 Cellulitis of external ear,218.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN
4,f.41270,H60.2 Malignant otitis externa,49.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
566,f.20002,1491 brain haemorrhage,218.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,f.20002,1583 ischaemic stroke,44.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN
568,f.20002,1082 transient ischaemic attack (tia),2243.0,N,N,NaN,NaN,NaN,NaN,NaN,NaN
569,f.20002,1083 subdural haemorrhage/haematoma,212.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,f.20002,1425 cerebral aneurysm,352.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Depending on which population are you filtering select the qc_individuals and outliers that need to be read in

## 1.3. Read in individuals in genotype array QC for white extended

In [7]:
qc_individuals = pd.read_csv("/mnt/mfs/statgen/UKBiobank/results/083021_PCA_results/europeans/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.europeans.filtered.fam", sep="\t", header=None)
qc_individuals

              0        1  2  3  4  5
0       1000019  1000019  0  0  2 -9
1       1000035  1000035  0  0  1 -9
2       1000078  1000078  0  0  2 -9
3       1000081  1000081  0  0  1 -9
4       1000198  1000198  0  0  2 -9
...         ...      ... .. .. .. ..
188469  6025295  6025295  0  0  1 -9
188470  6025319  6025319  0  0  2 -9
188471  6025346  6025346  0  0  2 -9
188472  6025363  6025363  0  0  1 -9
188473  6025411  6025411  0  0  2 -9

[188474 rows x 6 columns]

### Read in the individuals in genotype array QC for Asians

In [9]:
qc_individuals = pd.read_csv("/mnt/mfs/statgen/UKBiobank/genotype_files_processed/010622_asian_10189ind/010722_sample_var_final_qc/cache/UKB_genotypedatadownloaded083019.010722_sample_var_final_qc.filtered.extracted.fam", sep="\t", header=None)
qc_individuals

             0        1  2  3  4  5
0      1000906  1000906  0  0  1 -9
1      1001874  1001874  0  0  2 -9
2      1002712  1002712  0  0  2 -9
3      1003025  1003025  0  0  1 -9
4      1003083  1003083  0  0  1 -9
...        ...      ... .. .. .. ..
10183  6024313  6024313  0  0  2 -9
10184  6024837  6024837  0  0  1 -9
10185  6024898  6024898  0  0  2 -9
10186  6025096  6025096  0  0  2 -9
10187  6025113  6025113  0  0  1 -9

[10188 rows x 6 columns]

### Read in the individuals in genotype array QC for Africans

In [8]:
qc_individuals = pd.read_csv("/mnt/mfs/statgen/UKBiobank/genotype_files_processed/010622_african_9096ind/010722_sample_var_final_qc/cache/UKB_genotypedatadownloaded083019.010722_sample_var_final_qc.filtered.extracted.fam", sep="\t", header=None)
qc_individuals

            0        1  2  3  4  5
0     1000697  1000697  0  0  2 -9
1     1001447  1001447  0  0  2 -9
2     1001465  1001465  0  0  2 -9
3     1002004  1002004  0  0  1 -9
4     1002354  1002354  0  0  2 -9
...       ...      ... .. .. .. ..
8612  6023054  6023054  0  0  2 -9
8613  6024740  6024740  0  0  2 -9
8614  6025018  6025018  0  0  2 -9
8615  6025273  6025273  0  0  2 -9
8616  6025381  6025381  0  0  1 -9

[8617 rows x 6 columns]

## 1.4. Read in PCA outlier file for white extended

In [8]:
# outlier individuals that will need to be removed
outlier = pd.read_csv("/mnt/mfs/statgen/UKBiobank/results/083021_PCA_results/090321_PCA_related_pval0.005/030821_ukb42495_exomed_white_189010ind.090321_PCA_related_pval0.005.pca.projected.outliers", sep="\t", header=None)
outlier

           0        1
0    1008606  1008606
1    1010412  1010412
2    1028129  1028129
3    1032822  1032822
4    1035752  1035752
..       ...      ...
561  4268498  4268498
562  4689981  4689981
563  5109700  5109700
564  5748329  5748329
565  5809112  5809112

[566 rows x 2 columns]

### Read in PCA outlier file for Asians

In [10]:
outlier = pd.read_csv("/mnt/mfs/statgen/UKBiobank/genotype_files_processed/010622_asian_10189ind/010722_project_related_asian/010622_ukb47922_asian_10695_pop_superpop.010722_project_related_asian.pca.projected.outliers", sep="\t", header=None)
outlier

          0        1
0   1033230  1033230
1   1165568  1165568
2   1281449  1281449
3   1320713  1320713
4   1471990  1471990
5   2349561  2349561
6   2624495  2624495
7   2823192  2823192
8   2849284  2849284
9   2953965  2953965
10  3064796  3064796
11  3136493  3136493
12  3240806  3240806
13  3294059  3294059
14  3382552  3382552
15  3442180  3442180
16  3472149  3472149
17  3541356  3541356
18  4386499  4386499
19  4409767  4409767
20  4458434  4458434
21  4773023  4773023
22  4837880  4837880
23  4842797  4842797
24  4886917  4886917
25  5170948  5170948
26  5268257  5268257
27  5588937  5588937
28  5695587  5695587
29  5759640  5759640
30  6012433  6012433

### Read in PCA outlier file for Africans

In [10]:
outlier = pd.read_csv("/mnt/mfs/statgen/UKBiobank/genotype_files_processed/010622_african_9096ind/010722_project_related_african/010622_ukb47922_african_9096_pop_superpop.010722_project_related_african.pca.projected.outliers", sep="\t", header=None)
outlier

          0        1
0   1195221  1195221
1   1437409  1437409
2   1650010  1650010
3   1832510  1832510
4   1932137  1932137
5   1956227  1956227
6   2075610  2075610
7   2170624  2170624
8   2762967  2762967
9   2935076  2935076
10  3125879  3125879
11  3632427  3632427
12  3714569  3714569
13  3743198  3743198
14  3759260  3759260
15  4312566  4312566
16  4346108  4346108
17  4407854  4407854
18  4471216  4471216
19  4620084  4620084
20  4810575  4810575
21  5244909  5244909
22  5845265  5845265
23  3079967  3079967
24  3726365  3726365
25  4240012  4240012

In [8]:
df1 = pd.read_csv("/mnt/mfs/statgen/UKBiobank/phenotype_files/hearing_impairment/010421_UKBB_Hearing_background_noise_f2257_175531ind_exomes", sep=" ")

In [9]:
df2 = pd.read_csv("/mnt/mfs/statgen/UKBiobank/phenotype_files/hearing_impairment/080421_UKBB_Hearing_noise_f2257_expandedwhite_66656cases_98082ctrl", sep="\t")

In [10]:
missing_cases = set(df1[df1["hearing_noise_cat"] == 1]["IID"].to_list()) - set(df2["IID"].to_list())
missing_cases = set([str(x) for x in missing_cases])

In [11]:
len(missing_cases - set(df["IID"].to_list()))

0

# 2. Sample QC

## 2.1. Remove individuals that do not match for reported and genetic sex

In [9]:
reported_sex = ["f.31.0.0"]
genetic_sex = ["f.22001.0.0"]

In [10]:
# returns true only if 
def inconsistent_sexes(row):
    return pd.isna(row[genetic_sex[0]]) or row[reported_sex[0]] != row[genetic_sex[0]]

In [11]:
# exclusion based on inconsistent sex
ex_sex = df[reported_sex + genetic_sex].apply(inconsistent_sexes, axis=1)

In [12]:
filtered = df[~ex_sex]

In [13]:
print(sum(ex_sex), "individuals removed because of inconsistency with the genetic and reported sex variables")

233 individuals removed because of inconsistency with the genetic and reported sex variables

In [14]:
print("Of these individuals", sum([1 for x in df[genetic_sex[0]].to_list() if pd.isna(x)]), "were NA for the genetic sex variable")

Of these individuals 174 were NA for the genetic sex variable

In [15]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.38,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## 2.2. Remove non-white individuals

In [16]:
# set of answers for the ethnicity question
set(filtered[ethnicity[0]].to_list()).union( set(filtered[ethnicity[1]].to_list()) , set(filtered[ethnicity[2]].to_list()))

{<NA>,
 'African',
 'Any other Asian background',
 'Any other Black background',
 'Any other mixed background',
 'Any other white background',
 'Asian or Asian British',
 'Bangladeshi',
 'Black or Black British',
 'British',
 'Caribbean',
 'Chinese',
 'Do not know',
 'Indian',
 'Irish',
 'Mixed',
 'Other ethnic group',
 'Pakistani',
 'Prefer not to answer',
 'White',
 'White and Asian',
 'White and Black African',
 'White and Black Caribbean'}

In [17]:
# these should align with all possible options for ethnicity answers except for <NA>, Do not know, and Prefer not to answer
white = ['British', 'Irish', 'White','Any other white background']
african = ['Caribbean','White and Black Caribbean', 'African', 'White and Black African', 'Black or Black British', 'Any other Black background' ]
asian = ['Indian', 'Pakistani', 'White and Asian', 'Any other Asian background', 'Bangladeshi', 'Asian or Asian British']
mixed = ['Mixed', 'Any other mixed background']
chinese = ['Chinese']
other = ['Other ethnic group']

# figure out the ancestry of each individual
def ancestry(row):
    temp = [x for x in row[ethnicity] if not pd.isna(x) and x != "Prefer not to answer" and x != "Do not know"]
    if len(temp) == 0:
        return "Unknown"
    
    if len(set(temp)) == 1 and temp[0] in white: # if we have only one unique answer and the answer is in the white variable
        return "_".join(temp[0].split(" ")) # return the unique answer
    
    if len([x for x in temp if x in white]) == len(temp):
        return "Inconsistent_white"
    if len([x for x in temp if x in african]) == len(temp):
        return "African"
    if len([x for x in temp if x in asian]) == len(temp):
        return "Asian"
    if len([x for x in temp if x in mixed]) == len(temp):
        return "Mixed"
    if len([x for x in temp if x in chinese]) == len(temp):
        return "Chinese"
    if len([x for x in temp if x in other]) == len(temp):
        return "Other"
    return "Inconsistent"

Set an ancestry row that combines the ancestry answers from the database into one

In [18]:
filtered["ethnicity"] = filtered[ethnicity].apply(ancestry, axis=1)

/tmp/2287923.1.high_mem.q/ipykernel_25408/534555785.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["ethnicity"] = filtered[ethnicity].apply(ancestry, axis=1)
/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [19]:
def find_non_white(row):
    return row["ethnicity"] not in white and row["ethnicity"] != "Unknown" and row["ethnicity"] != "Inconsistent_white" and row["ethnicity"] != "Any_other_white_background"

In [20]:
ex_non_white = filtered[["ethnicity"]].apply(find_non_white, axis=1)

In [21]:
filtered = filtered[~ex_non_white]

In [22]:
print(sum(ex_non_white), "individuals removed for being non-white in the exome data")

11385 individuals removed for being non-white in the exome data

In [23]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [24]:
filtered[filtered["ethnicity"] == "British"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [25]:
filtered[filtered["ethnicity"] == "Irish"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
16,1000415,1000415,Male,1942,December,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
54,1001316,1001316,Male,1964,September,No,<NA>,Yes,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
65,1001492,1001492,Male,1947,August,No,<NA>,<NA>,<NA>,Do not know,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
94,1002152,1002152,Female,1939,June,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
117,1002729,1002729,Female,1966,September,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200387,6020127,6020127,Male,1947,July,Do not know,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
200422,6020940,6020940,Male,1963,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
200506,6022857,6022857,Male,1964,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
200553,6023832,6023832,Male,1942,June,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish
200611,6025202,6025202,Female,1945,September,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish

In [26]:
filtered[filtered["ethnicity"] == "White"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
361,1008841,1008841,Female,1964,October,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
494,1012043,1012043,Male,1943,June,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
727,1017312,1017312,Female,1947,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
809,1019550,1019550,Female,1942,July,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
3711,1091708,1091708,Female,1965,February,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197808,5955769,5955769,Male,1965,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
199023,5986358,5986358,Female,1955,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
199527,5998866,5998866,Male,1946,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
199632,6001050,6001050,Female,1939,May,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White
200323,6018568,6018568,Male,1952,April,No,<NA>,Yes,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White

In [27]:
filtered[filtered["ethnicity"] == "Inconsistent_white"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
299,1007061,1007061,Male,1950,May,No,<NA>,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
2424,1059988,1059988,Male,1950,July,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
3154,1077383,1077383,Male,1946,October,Yes,Yes,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
4362,1108028,1108028,Female,1948,January,No,No,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
4496,1111668,1111668,Female,1948,August,No,No,No,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198180,5965203,5965203,Male,1944,November,No,<NA>,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
198498,5973198,5973198,Female,1941,April,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
199194,5990529,5990529,Female,1949,August,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
200000,6010193,6010193,Female,1948,April,No,No,No,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white
200321,6018502,6018502,Male,1944,November,Yes,Yes,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white

In [28]:
filtered[filtered["ethnicity"] == "Unknown"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
33,1000701,1000701,Female,1949,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
362,1008909,1008909,Male,1944,March,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
1868,1045757,1045757,Female,1957,September,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2013-05-31,Unknown
2167,1053449,1053449,Male,1961,August,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
2331,1057699,1057699,Male,1942,July,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198629,5976355,5976355,Female,1947,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
198870,5982497,5982497,Female,1967,December,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
198897,5983226,5983226,Male,1951,September,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
200239,6016238,6016238,Female,1953,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown
200463,6021951,6021951,Male,1967,January,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown

In [29]:
filtered[filtered["ethnicity"] == "Any_other_white_background"]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
12,1000331,1000331,Female,1956,December,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
36,1000776,1000776,Female,1946,June,No,<NA>,<NA>,<NA>,Do not know,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
38,1000858,1000858,Male,1947,May,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
48,1001140,1001140,Female,1950,August,Do not know,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
78,1001825,1001825,Female,1961,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200467,6022021,6022021,Male,1948,February,Do not know,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
200481,6022407,6022407,Female,1967,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
200496,6022641,6022641,Female,1946,December,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
200522,6023170,6023170,Female,1963,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background
200567,6024100,6024100,Male,1952,June,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background

In [30]:
saved_for_number_checking = filtered

In [31]:
filtered = saved_for_number_checking

In [174]:
filtered[["FID","IID","ethnicity"]].to_csv("ukb47922_exomed_white_189001ind.pheno", sep="\t", index=False)

## 2.3. Only keep individuals that passed genotype array QC

In [32]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [33]:
qc_list = [str(i) for i in qc_individuals[0].to_list()]
def matches_qc_individuals(row):
    return row["FID"] in qc_list
filtered = filtered[filtered[["FID"]].apply(matches_qc_individuals, axis=1)]

# 2. Remove PCA outliers from the full database

Remove the outlier individuals from the full database if there exists any.

In [34]:
# since the IID from the dataframe is in string the outlier ids have to be made into string as well
out_ids = [str(x) for x in outlier[0].to_list()] 

def find_outliers(row):
    return row["IID"] in out_ids

In [35]:
ex_pca_outliers = filtered[["IID", "FID"]].apply(find_outliers, axis=1)

In [36]:
filtered = filtered[~ex_pca_outliers]

In [37]:
print(sum(ex_pca_outliers), "individuals removed for being pca outliers")

566 individuals removed for being pca outliers

In [181]:
len(missing_cases - set(df["IID"].to_list()))

NameError: name 'missing_cases' is not defined

In [38]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

# 3. Filter out exclusions from the full database

If individuals have certain codes from ICD 10, ICD 9, and self-reports they must be fully removed from the analysis.

In [39]:
# returns if the current individual should be excluded based on the exclusion list
def contains_exclusion(row, exclusion_list):
    for i in row:
        if not pd.isna(i) and i in exclusion_list:
            return True
            
    return False

## 3.1. Filter out ICD 10 exclusions

In [40]:
# these are the columns that represent the icd10 columns in the database
icd10_colnames = [col for col in filtered if "f.41270" in col]

In [41]:
# get a dataframe that only contains the icd10 columns from the full database
icd10 = filtered[icd10_colnames]
icd10

,f.41270.0.0,f.41270.0.1,f.41270.0.2,f.41270.0.3,f.41270.0.4,f.41270.0.5,f.41270.0.6,f.41270.0.7,f.41270.0.8,f.41270.0.9,...,f.41270.0.216,f.41270.0.217,f.41270.0.218,f.41270.0.219,f.41270.0.220,f.41270.0.221,f.41270.0.222,f.41270.0.223,f.41270.0.224,f.41270.0.225
0,E041,H738,M750,M754,M758,N898,N920,N946,R104,Z038,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,H269,K579,K590,K621,M5459,N40,R040,R31,R398,Z466,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,C19,C20,D037,D125,K635,L720,Z860,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,E780,H251,H269,I10,I210,I219,I251,I252,I258,I259,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,D171,I10,J301,K409,N898,O800,Z370,Z721,Z822,Z861,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,D171,I845,I846,K318,K429,K529,K602,K610,K921,R073,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,E669,I10,K801,K802,K85,M179,M199,M233,M8956,N921,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,O074,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,O149,O266,O342,O471,O48,O610,O680,Z370,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [42]:
# get rows from exclusion database that contian the codes that need to be removed for icd10
exclude_icd10 = exclusion[(exclusion["UKBB_field_code"] == "f.41270") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_icd10

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
27,f.41270,H65.2 Chronic serous otitis media,103.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,f.41270,H65.3 Chronic mucoid otitis media,960.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,f.41270,H65.4 Other chronic nonsuppurative otitis media,158.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,f.41270,"H65.9 Nonsuppurative otitis media, unspecified",508.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,f.41270,H66.1 Chronic tubotympanic suppurative otitis ...,40.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
276,f.41270,"S07.9 Crushing injury of head, part unspecified",1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,f.41270,S08.1 Traumatic amputation of ear,13.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,f.41270,S08.8 Traumatic amputation of other parts of head,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,f.41270,S08.9 Traumatic amputation of unspecified part...,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,f.41270,S09.2 Traumatic rupture of ear drum,18.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# get the icd10 codes that should be excluded from database
ex_critia_icd10 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_icd10["Phenotype"].tolist()]
ex_critia_icd10

['H652',
 'H653',
 'H654',
 'H659',
 'H661',
 'H662',
 'H663',
 'H664',
 'H669',
 'H680',
 'H701',
 'H702',
 'H708',
 'H709',
 'H71',
 'H731',
 'H738',
 'H739',
 'H740',
 'H741',
 'H742',
 'H743',
 'H748',
 'H749',
 'H750',
 'H758',
 'H800',
 'H801',
 'H802',
 'H808',
 'H809',
 'H810',
 'H830',
 'H831',
 'H832',
 'H900',
 'H901',
 'H902',
 'H910',
 'H933',
 'H940',
 'H948',
 'H950',
 'H951',
 'H958',
 'H959',
 'B020',
 'B021',
 'B022',
 'B023',
 'B027',
 'B028',
 'G000',
 'G001',
 'G002',
 'G003',
 'G008',
 'G009',
 'G01',
 'G020',
 'G021',
 'G028',
 'G030',
 'G031',
 'G032',
 'G038',
 'G039',
 'G040',
 'G041',
 'G042',
 'G048',
 'G049',
 'G050',
 'G051',
 'G052',
 'G058',
 'G060',
 'G061',
 'G062',
 'G07',
 'G08',
 'G09',
 'G510',
 'G511',
 'G512',
 'G513',
 'G514',
 'G518',
 'G519',
 'S0200',
 'S0201',
 'S0210',
 'S0211',
 'S0240',
 'S0241',
 'S0260',
 'S0261',
 'S0270',
 'S0271',
 'S0280',
 'S0281',
 'S0290',
 'S0291',
 'S045',
 'S046',
 'S049',
 'S0600',
 'S0601',
 'S0610',
 'S0611',
 'S0620',
 'S0621',
 'S0630',
 'S0631',
 'S0640',
 'S0641',
 'S0650',
 'S0651',
 'S0660',
 'S0661',
 'S0670',
 'S0671',
 'S0680',
 'S0681',
 'S0690',
 'S0691',
 'S070',
 'S071',
 'S078',
 'S079',
 'S081',
 'S088',
 'S089',
 'S092']

In [44]:
# collect the individuals that should be excluded because of icd10
ex_fxn_icd10 = lambda row: contains_exclusion(row, ex_critia_icd10)
ex_10 = icd10.apply(ex_fxn_icd10, axis=1)

In [45]:
# remove them from the working database (which is now filtered. df remains unchanged)
filtered = filtered[~ex_10]

In [46]:
print(sum(ex_10), "individuals removed because of icd10 codes")

5016 individuals removed because of icd10 codes

In [47]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

## 3.2. Filter out ICD 9 exclusions

In [48]:
# these are the columns that represent the icd9 columns in the working database
icd9_colnames = [col for col in filtered if "f.41271" in col]

In [49]:
# get a dataframe that only contains the icd9 columns from the working database
icd9 = filtered[icd9_colnames]
icd9

,f.41271.0.0,f.41271.0.1,f.41271.0.2,f.41271.0.3,f.41271.0.4,f.41271.0.5,f.41271.0.6,f.41271.0.7,f.41271.0.8,f.41271.0.9,...,f.41271.0.37,f.41271.0.38,f.41271.0.39,f.41271.0.40,f.41271.0.41,f.41271.0.42,f.41271.0.43,f.41271.0.44,f.41271.0.45,f.41271.0.46
1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,3899,4781,8131,E8860,V540,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [50]:
# get rows from exclusion database that contian the codes that need to be removed for icd9
exclude_icd9 = exclusion[(exclusion["UKBB_field_code"] == "f.41271") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_icd9

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
319,f.41271,3811 Chronic serous otitis media,8.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,f.41271,3812 Chronic mucoid otitis media,11.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,f.41271,3813 Other and unspecified chronic nonsuppurat...,3.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,f.41271,"3814 Nonsuppurative otitis media, not specifie...",19.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,f.41271,3815 Eustachian salpingitis,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
516,f.41271,9050 Late effect of fracture of skull and face...,19.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,f.41271,"9259 Crushing injury of face, scalp and neck",2.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,f.41271,9514 Injury to facial nerve,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,f.41271,9515 Injury to acoustic nerve,1.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,f.41271,9519 Injury to unspecified cranial nerve,0.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# get the icd9 codes that should be excluded from the working database
ex_critia_icd9 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_icd9["Phenotype"].tolist()]
ex_critia_icd9

['3811',
 '3812',
 '3813',
 '3814',
 '3815',
 '3816',
 '3819',
 '3821',
 '3822',
 '3823',
 '3824',
 '3829',
 '3831',
 '3832',
 '3833',
 '3838',
 '3839',
 '3841',
 '3850',
 '3851',
 '3852',
 '3853',
 '3858',
 '3859',
 '3860',
 '3863',
 '3864',
 '3865',
 '3868',
 '3869',
 '3870',
 '3871',
 '3872',
 '3878',
 '3879',
 '3885',
 '3890',
 '0530',
 '0531',
 '0532',
 '0537',
 '0538',
 '3200',
 '3201',
 '3202',
 '3203',
 '3204',
 '3205',
 '3207',
 '3208',
 '3209',
 '3210',
 '3211',
 '3212',
 '3213',
 '3214',
 '3215',
 '3216',
 '3217',
 '3218',
 '3220',
 '3221',
 '3222',
 '3229',
 '3230',
 '3231',
 '3232',
 '3233',
 '3234',
 '3235',
 '3236',
 '3237',
 '3238',
 '3239',
 '3240',
 '3241',
 '3249',
 '3259',
 '3269',
 '3510',
 '3511',
 '3518',
 '3519',
 '8000',
 '8001',
 '8002',
 '8003',
 '8010',
 '8011',
 '8012',
 '8013',
 '8022',
 '8023',
 '8024',
 '8025',
 '8028',
 '8029',
 '8030',
 '8031',
 '8032',
 '8033',
 '8040',
 '8041',
 '8042',
 '8043',
 '8509',
 '8510',
 '8511',
 '8520',
 '8521',
 '8530',
 '8531',
 '8540',
 '8541',
 '8726',
 '8727',
 '8728',
 '8729',
 '9050',
 '9259',
 '9514',
 '9515',
 '9519']

In [52]:
# collect the individuals that should be excluded because of icd9
ex_fxn_icd9 = lambda row: contains_exclusion(row, ex_critia_icd9)
ex_9 = icd9.apply(ex_fxn_icd9, axis=1)

In [53]:
# remove them from the working database
filtered = filtered[~ex_9]

In [54]:
print(sum(ex_9), "individuals removed because of icd9 codes")

242 individuals removed because of icd9 codes

In [55]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

## 3.3. Filter out f.20002 exclusions

In [56]:
# these are the columns that represent the self-report columns in the working database
f20002_colnames = [col for col in filtered if "f.20002" in col]

In [57]:
# get a dataframe that only contains the self-report columns from the working database
f20002 = filtered[f20002_colnames]
f20002

,f.20002.0.0,f.20002.0.1,f.20002.0.2,f.20002.0.3,f.20002.0.4,f.20002.0.5,f.20002.0.6,f.20002.0.7,f.20002.0.8,f.20002.0.9,...,f.20002.3.24,f.20002.3.25,f.20002.3.26,f.20002.3.27,f.20002.3.28,f.20002.3.29,f.20002.3.30,f.20002.3.31,f.20002.3.32,f.20002.3.33
1,1396,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1075,1440,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,1065,1123,1286,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,1065,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,1452,1265,1387,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [58]:
# get rows from exclusion database that contian the codes that need to be removed for self-report
exclude_f20002 = exclusion[(exclusion["UKBB_field_code"] == "f.20002") & (exclusion["Excluded_fulldb_lateonsetHI"] == 'Y') ]
exclude_f20002

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
539,f.20002,1420 otosclerosis,260.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,f.20002,1421 meniere's disease,1553.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,f.20002,1499 labyrinthitis,417.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
545,f.20002,1244 infection of nervous system,55.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546,f.20002,1245 brain abscess/intracranial abscess,79.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,f.20002,1246 encephalitis,348.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,f.20002,1247 meningitis,2214.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,f.20002,1249 cranial nerve problem/palsy,289.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,f.20002,1250 bell's palsy/facial nerve palsy,591.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,f.20002,1240 neurological injury/trauma,130.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,f.20002,1626 fracture skull / head,465.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,f.20002,1086 subarachnoid haemorrhage,492.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,f.20002,1491 brain haemorrhage,218.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,f.20002,1083 subdural haemorrhage/haematoma,212.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,f.20002,1425 cerebral aneurysm,352.0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# get the self-report codes that should be excluded from the working database
ex_critia_f20002 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_f20002["Phenotype"].tolist()]
ex_critia_f20002

['1420',
 '1421',
 '1499',
 '1244',
 '1245',
 '1246',
 '1247',
 '1249',
 '1250',
 '1240',
 '1626',
 '1086',
 '1491',
 '1083',
 '1425']

In [60]:
# collect the individuals that should be excluded because of self-report
ex_fxn_f20002 = lambda row: contains_exclusion(row, ex_critia_f20002)
ex_f20002 = f20002.apply(ex_fxn_f20002, axis=1)

In [61]:
# remove them from the working database
filtered = filtered[~ex_f20002]

In [62]:
print(sum(ex_f20002), "individuals removed because of self-reported codes")

2332 individuals removed because of self-reported codes

In [63]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British
5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

# 4. Identify Sex Column

In [64]:
# male is denoted a 0, female as 1
def find_sex(row):
    if row["f.31.0.0"] == "Male":
        return 0
    return 1

sex = filtered[["f.31.0.0"]].apply(find_sex, axis=1)
sex

1         0
2         1
3         0
4         1
5         0
         ..
200614    0
200615    1
200616    1
200617    0
200618    1
Length: 180318, dtype: int64

In [65]:
filtered["sex"] = sex

/tmp/2287923.1.high_mem.q/ipykernel_25408/312352638.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["sex"] = sex
/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [66]:
filtered

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British,1
5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1

In [67]:
filtered = filtered.reset_index()

/tmp/2287923.1.high_mem.q/ipykernel_25408/476735807.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered = filtered.reset_index()

In [68]:
filtered

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
0,1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
1,2,1000078,1000078,Female,1955,June,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
2,3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
3,4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British,1
4,5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180313,200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180314,200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180315,200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180316,200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180317,200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1

In [69]:
saved_filtered = filtered

In [70]:
filtered = saved_filtered

In [71]:
filtered[filtered["ethnicity"] == "British"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
0,1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
1,2,1000078,1000078,Female,1955,June,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
2,3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
3,4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British,1
4,5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180313,200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180314,200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180315,200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180316,200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180317,200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1

In [72]:
filtered[filtered["ethnicity"] == "Irish"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
13,16,1000415,1000415,Male,1942,December,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
47,54,1001316,1001316,Male,1964,September,No,<NA>,Yes,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
57,65,1001492,1001492,Male,1947,August,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
84,94,1002152,1002152,Female,1939,June,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,1
103,117,1002729,1002729,Female,1966,September,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180046,200314,6018323,6018323,Male,1954,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
180107,200381,6020017,6020017,Male,1938,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
180113,200387,6020127,6020127,Male,1947,July,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
180145,200422,6020940,6020940,Male,1963,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0
180221,200506,6022857,6022857,Male,1964,November,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Irish,0

In [73]:
filtered[filtered["ethnicity"] == "White"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
322,361,1008841,1008841,Female,1964,October,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
657,727,1017312,1017312,Female,1947,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
732,809,1019550,1019550,Female,1942,July,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
3328,3711,1091708,1091708,Female,1965,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
3885,4326,1107230,1107230,Male,1969,June,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177809,197808,5955769,5955769,Male,1965,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,0
178885,199023,5986358,5986358,Female,1955,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
179338,199527,5998866,5998866,Male,1946,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,0
179432,199632,6001050,6001050,Female,1939,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,1
180054,200323,6018568,6018568,Male,1952,April,No,<NA>,Yes,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,White,0

In [74]:
filtered[filtered["ethnicity"] == "Inconsistent_white"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
266,299,1007061,1007061,Male,1950,May,No,<NA>,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0
2183,2424,1059988,1059988,Male,1950,July,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0
3913,4362,1108028,1108028,Female,1948,January,No,No,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,1
4038,4496,1111668,1111668,Female,1948,August,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,1
4794,5345,1133245,1133245,Male,1952,December,No,No,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178140,198179,5965153,5965153,Male,1959,November,<NA>,Yes,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0
178141,198180,5965203,5965203,Male,1944,November,No,<NA>,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0
178411,198498,5973198,5973198,Female,1941,April,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,1
179030,199194,5990529,5990529,Female,1949,August,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,1
180053,200321,6018502,6018502,Male,1944,November,Yes,Yes,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Inconsistent_white,0

In [75]:
filtered[filtered["ethnicity"] == "Unknown"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
27,33,1000701,1000701,Female,1949,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,1
323,362,1008909,1008909,Male,1944,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,0
1954,2167,1053449,1053449,Male,1961,August,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,0
2979,3315,1081614,1081614,Female,1960,July,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,1
3070,3416,1084388,1084388,Female,1957,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177075,197021,5934946,5934946,Male,1963,April,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,0
178326,198396,5970565,5970565,Female,1945,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,1
178769,198897,5983226,5983226,Male,1951,September,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,0
179978,200239,6016238,6016238,Female,1953,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,1
180182,200463,6021951,6021951,Male,1967,January,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Unknown,0

In [76]:
filtered[filtered["ethnicity"] == "Any_other_white_background"]

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
10,12,1000331,1000331,Female,1956,December,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
30,36,1000776,1000776,Female,1946,June,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
32,38,1000858,1000858,Male,1947,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,0
41,48,1001140,1001140,Female,1950,August,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
70,78,1001825,1001825,Female,1961,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180186,200467,6022021,6022021,Male,1948,February,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,0
180199,200481,6022407,6022407,Female,1967,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
180212,200496,6022641,6022641,Female,1946,December,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
180235,200522,6023170,6023170,Female,1963,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,1
180277,200567,6024100,6024100,Male,1952,June,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Any_other_white_background,0

# 5. f.3393, f.2247, f.2257, and Mendelian

## 5.1. Remove inconsistencies or unclear individuals

Some individuals might be unclear on if they do or do not have hearing difficulties or are inconsistent (found in f.3393, f.2247, and f.2257), in which case they cannot be considered either controls or cases and must be removed.

The conditions for being removed are as follows:
* Saying I don't know after saying either yes or no
* Only saying I don't know or prefer not to say
* Being completely deaf

### 5.1.1. Prior to filtering for inconsistencies

<b>Hearing difficulty/problems with background noise</b> <br>
f.2257 = {'Yes': 81218, NA : 513774, 'No': 131091, 'Do not know': 4409, 'Prefer not to answer': 208}

<b>Hearing difficult/problems</b><br>
f.2247 = {'No': 151758, : 513806, 'Yes': 55437, 'Do not know': 9489, 'Prefer not to answer': 171, 'I am completely deaf': 39}

<b>Hearing aid user</b><br>
f.3393 = {'No': 145486, : 577795, 'Yes': 7237, 'Prefer not to answer': 182}

### 5.1.2. Setup for inconsistency filtering

In [ ]:
# collect all the columns 
# redefining here for clarity

hearing_imp_f3393 = [col for col in filtered if "f.3393" in col]
hearing_imp_f2247 = [col for col in filtered if "f.2247" in col]
hearing_imp_f2257 = [col for col in filtered if "f.2257" in col]

icd_10_cols = [col for col in df if "f.41270" in col]
icd_9_cols = [col for col in df if "f.41271" in col]

In [ ]:
# for hearing impairement questions we code the answers with the following for comparison
hearing_ans = {"Do not know":9, "Yes":1, "No":0}

# will contain the complete set of actual combinations of answers from individuals in the database
options = set()

# pass one pheno at a time to this function
def find_options(row):
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "I am completely deaf" and i != "Prefer not to answer"])
    options.add(answer)

In [ ]:
# this builds the options set to contain a set of all the unique answers the individuals in the database have had
# over their hearing impairment questions
hearing_imp_qs = filtered[hearing_imp_f3393]
s = hearing_imp_qs.apply(find_options, axis=1)
hearing_imp_qs = filtered[hearing_imp_f2247]
s = hearing_imp_qs.apply(find_options, axis=1)
hearing_imp_qs = filtered[hearing_imp_f2257]
s = hearing_imp_qs.apply(find_options, axis=1)

In [ ]:
options

In [ ]:
# we might have inconsistencies if we have don't knows mixed with other answers or even yes and no together
# options contains the set of all unique codes 

do_not_know_no = [i for i in options if '0' in i and '9' in i and '1' not in i]
do_not_know_yes = [i for i in options if '0' not in i and '9' in i and '1' in i]
yes_no = [i for i in options if '0' in i and '9' not in i and '1' in i]
with_all_three = [i for i in options if '0' in i and '9' in i and '1' in i]

# collecting all possible occurances that can be flagged for being inconsistent
might_inconsistent = do_not_know_no + do_not_know_yes + yes_no + with_all_three

# these are exceptions to the possibilities we have that can be flagged for being inconsistent
exceptions = ["91","911","9111","991","0001","001","0011","01","011","0111", "0091", "091","0911","0991","9001","901","9011", "90", "900", "9000", "990"]

# collect the list of answer combinations that are actually inconsistent by removingthe answer combinations that are exceptions
inconsistent = [i for i in might_inconsistent if i not in exceptions]

In [ ]:
inconsistent

### 5.1.3. Filtering out the data

In [135]:
# return True if you find an individual that has NA for every answer in each column
def find_empty(row):
    for i in row:
        if not pd.isna(i):
            return False
    return True

In [136]:
# return True if an individual only answers Do not know but never Yes or No
def find_dont_know(row):
    temp = []
    for i in row:
        if not pd.isna(i):
            temp.append(i)
        
    if "Do not know" in temp and "Yes" not in temp and "No" not in temp:
        return True
    return False

In [137]:
# will return true if that row should be removed
# pass one pheno at a time through the function
def find_inconsistencies(row):
    for i in row:
        if not pd.isna(i) and i == "I am completely deaf":
            return True
    
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "I am completely deaf" and i != "Prefer not to answer"])
    if answer in inconsistent:
        return True
    return False

# if we have individuals that either don't answer or prefer not to say only then we cancel them out
# return true if all the rows have no definitive answers
def find_all_none(row):
    for i in row:
        if not pd.isna(i) and (i == "Yes" or i == "No"):
            return False
    return True

In [138]:
filtered

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity,sex
0,1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
1,2,1000078,1000078,Female,1955,June,No,No,No,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
2,3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
3,4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01,British,1
4,5,1000210,1000210,Male,1941,October,Do not know,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180313,200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180314,200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180315,200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1
180316,200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,0
180317,200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British,1

In [139]:
# filter out inconsistencies for f3393
hearing_imp_qs = filtered[hearing_imp_f3393]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

In [140]:
filtered[exclude]

/tmp/2287077.1.high_mem.q/ipykernel_30089/2322766058.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered[exclude]

Empty DataFrame
Columns: [index, IID, FID, f.31.0.0, f.34.0.0, f.52.0.0, f.2247.0.0, f.2247.1.0, f.2247.2.0, f.2247.3.0, f.2257.0.0, f.2257.1.0, f.2257.2.0, f.2257.3.0, f.3393.0.0, f.3393.1.0, f.3393.2.0, f.3393.3.0, f.4803.0.0, f.4803.1.0, f.4803.2.0, f.4803.3.0, f.20002.0.0, f.20002.0.1, f.20002.0.2, f.20002.0.3, f.20002.0.4, f.20002.0.5, f.20002.0.6, f.20002.0.7, f.20002.0.8, f.20002.0.9, f.20002.0.10, f.20002.0.11, f.20002.0.12, f.20002.0.13, f.20002.0.14, f.20002.0.15, f.20002.0.16, f.20002.0.17, f.20002.0.18, f.20002.0.19, f.20002.0.20, f.20002.0.21, f.20002.0.22, f.20002.0.23, f.20002.0.24, f.20002.0.25, f.20002.0.26, f.20002.0.27, f.20002.0.28, f.20002.0.29, f.20002.0.30, f.20002.0.31, f.20002.0.32, f.20002.0.33, f.20002.1.0, f.20002.1.1, f.20002.1.2, f.20002.1.3, f.20002.1.4, f.20002.1.5, f.20002.1.6, f.20002.1.7, f.20002.1.8, f.20002.1.9, f.20002.1.10, f.20002.1.11, f.20002.1.12, f.20002.1.13, f.20002.1.14, f.20002.1.15, f.20002.1.16, f.20002.1.17, f.20002.1.18, f.20002.1.19, f.20002.1.20, f.20002.1.21, f.20002.1.22, f.20002.1.23, f.20002.1.24, f.20002.1.25, f.20002.1.26, f.20002.1.27, f.20002.1.28, f.20002.1.29, f.20002.1.30, f.20002.1.31, f.20002.1.32, f.20002.1.33, f.20002.2.0, f.20002.2.1, f.20002.2.2, f.20002.2.3, f.20002.2.4, f.20002.2.5, f.20002.2.6, f.20002.2.7, f.20002.2.8, f.20002.2.9, ...]
Index: []

[0 rows x 715 columns]

In [141]:
len(missing_cases - set(filtered["IID"].to_list()))

NameError: name 'missing_cases' is not defined

In [ ]:
# filter out inconsistencies for f2247
hearing_imp_qs = filtered[hearing_imp_f2247]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

In [ ]:
filtered[exclude]

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

In [ ]:
# filter out inconsistencies for f2257
hearing_imp_qs = filtered[hearing_imp_f2257]
exclude = hearing_imp_qs.apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

In [ ]:
filtered[exclude]

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

In [ ]:
# filter out individuals that don't have a definiteive answer for any hearing aid questions
hearing_imp_qs = filtered[hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257]
exclude = hearing_imp_qs.apply(find_all_none, axis=1)
filtered = filtered[~exclude]

In [ ]:
filtered[exclude]

In [ ]:
len(missing_cases - set(filtered["IID"].to_list()))

In [ ]:
filtered

In [72]:
saved_2_filtered = filtered

In [73]:
filtered = saved_2_filtered

## 5.2. Identify Pure Controls

Need to make sure that for f.3393, f.2247, and f.2257 we obtain the individuals that say no.

The conditions for saying no are as follows:
* Never saying yes
* Not being inconsistent
* Saying no at least once (prefer not to say is allowed)

We are also not including individuals to be part of the control group if they have certain codes for ICD9, ICD10, or f.20002 (this is in the case that they say no to all f.3393, f.2247, and f.2257). However these individuals can still be part of the cases

In [74]:
# returns 0 if it's a ctrl or else 1
def find_ctrl(row):
    answer = "".join([str(hearing_ans[i]) for i in row if not pd.isna(i) and i != "Prefer not to answer"])
    if "0" in answer and "1" not in answer:
        return 0
    return 1

# returns 0 if it's a ctrl or else 1
# this is specific for f3393 because f3393 was only asked under certain circumstances
def find_ctrl_or_NA(row):
    for i in row:
        if not pd.isna(i) and i != "No" and i != "Prefer not to answer": # if we have any answers that are not NA or No only then we don't have a ctrl
            return 1
    return 0

In [75]:
# filter through the hearing impairment questions to find the controls
hearing_imp_qs = filtered[hearing_imp_f3393]
f3393_ctrl = hearing_imp_qs.apply(find_ctrl_or_NA, axis=1).to_list()
hearing_imp_qs = filtered[hearing_imp_f2247]
f2247_ctrl = hearing_imp_qs.apply(find_ctrl, axis=1).to_list()
hearing_imp_qs = filtered[hearing_imp_f2257]
f2257_ctrl = hearing_imp_qs.apply(find_ctrl, axis=1).to_list()

In [76]:
pure_ctrl = [0 if i == 0 and f2247_ctrl[en] == 0 and f2257_ctrl[en] == 0 else 1 for en, i in enumerate(f3393_ctrl)]

In [77]:
print(len(pure_ctrl) - sum(pure_ctrl), "individuals are controls prior to filtration for icd10, icd9 and self-reported codes")

2452 individuals are controls prior to filtration for icd10, icd9 and self-reported codes

### 5.2.1. Collect ICD 10 codes to filter out from Ctrl

In [78]:
exclude_ctrl_icd10 = exclusion[(exclusion["UKBB_field_code"] == "f.41270") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_icd10

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
97,f.41270,H83.3 Noise effects on inner ear,24.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
98,f.41270,H83.8 Other specified diseases of inner ear,51.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
99,f.41270,"H83.9 Disease of inner ear, unspecified",33.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
105,f.41270,"H90.3 Sensorineural hearing loss, bilateral",721.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,Individuals with this code were initially excl...
106,f.41270,"H90.4 Sensorineural hearing loss, unilateral w...",185.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,N,NaN,NaN
107,f.41270,"H90.5 Sensorineural hearing loss, unspecified",880.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,Individuals with this code were initially excl...
108,f.41270,H90.6 Mixed conductive and sensorineural heari...,133.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,Individuals with this code were initially excl...
109,f.41270,H90.7 Mixed conductive and sensorineural heari...,75.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,N,NaN,NaN
110,f.41270,H90.8 Mixed conductive and sensorineural heari...,115.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,Individuals with this code were initially excl...
113,f.41270,H91.1 Presbycusis,408.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
114,f.41270,H91.2 Sudden idiopathic hearing loss,30.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
115,f.41270,"H91.3 Deaf mutism, not elsewhere classified",56.0,N,Y,NaN,NaN,NaN,Y,NaN,NaN
116,f.41270,H91.8 Other specified hearing loss,133.0,N,Y,NaN,NaN,NaN,Y,NaN,NaN
117,f.41270,"H91.9 Hearing loss, unspecified",9386.0,N,Y,NaN,NaN,NaN,Y,NaN,NaN
123,f.41270,H93.0 Degenerative and vascular disorders of ear,1.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
124,f.41270,H93.1 Tinnitus,1538.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
125,f.41270,H93.2 Other abnormal auditory perceptions,28.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
126,f.41270,H93.3 Disorders of acoustic nerve,27.0,Y,Y,NaN,NaN,NaN,N,NaN,NaN
127,f.41270,H93.8 Other specified disorders of ear,68.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
128,f.41270,"H93.9 Disorder of ear, unspecified",75.0,N,Y,NaN,NaN,NaN,N,NaN,NaN
137,f.41270,Z46.1 Fitting and adjustment of hearing aid,31.0,N,Y,Y,N (Case only if they reply yes consistenly to ...,N,NaN,NaN,*not included in the first case filtering
138,f.41270,Z97.4 Presence of external hearing-aid,1682.0,N,Y,Y,N (Case only if they reply yes consistenly to ...,N,NaN,NaN,NaN

In [79]:
ex_critia_ctrl_icd10 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_icd10["Phenotype"].tolist()]
ex_critia_ctrl_icd10

['H833',
 'H838',
 'H839',
 'H903',
 'H904',
 'H905',
 'H906',
 'H907',
 'H908',
 'H911',
 'H912',
 'H913',
 'H918',
 'H919',
 'H930',
 'H931',
 'H932',
 'H933',
 'H938',
 'H939',
 'Z461',
 'Z974']

In [80]:
icd10 = filtered[icd10_colnames]
icd10

,f.41270.0.0,f.41270.0.1,f.41270.0.2,f.41270.0.3,f.41270.0.4,f.41270.0.5,f.41270.0.6,f.41270.0.7,f.41270.0.8,f.41270.0.9,...,f.41270.0.216,f.41270.0.217,f.41270.0.218,f.41270.0.219,f.41270.0.220,f.41270.0.221,f.41270.0.222,f.41270.0.223,f.41270.0.224,f.41270.0.225
0,E669,I802,K712,K754,L030,M7986,Z138,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,D223,E119,R69,T810,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,B509,K565,K567,Y836,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,N841,Z038,Z538,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,K409,M754,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,B370,E669,K296,K298,K317,M179,M2323,M2333,M329,M4797,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3569,D072,G573,K029,M169,M2137,R030,R69,T840,Y831,Z133,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3570,B972,E669,E780,F001,F019,F051,F329,G301,H209,H251,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3571,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3572,N608,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [81]:
# collect the individuals who should not be part of controls because of icd 10 codes
ex_fxn_icd10 = lambda row: contains_exclusion(row, ex_critia_ctrl_icd10)
ex_10 = icd10.apply(ex_fxn_icd10, axis=1)

### 5.2.2. Collect ICD 9 codes to filter out from Ctrl

In [82]:
exclude_ctrl_icd9 = exclusion[(exclusion["UKBB_field_code"] == "f.41271") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_icd9

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
371,f.41271,3880 Degenerative and vascular disorders of ear,0.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
372,f.41271,3881 Noise effects on inner ear,0.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
373,f.41271,"3882 Sudden hearing loss, unspecified",0.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
374,f.41271,3883 Tinnitus,11.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
375,f.41271,3884 Other abnormal auditory perception,0.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
379,f.41271,3888 Other specified disorders of ear,1.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
380,f.41271,"3889 Disorders of ear, unspecified",2.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
383,f.41271,3891 Sensorineural deafness,6.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,NaN
384,f.41271,3892 Mixed conductive and sensorineural deafness,1.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,NaN
385,f.41271,"3897 Deaf mutism, not elsewhere classifiable",1.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,NaN
386,f.41271,3898 Other specified forms of deafness,0.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,NaN
387,f.41271,3899 Unspecified deafness,93.0,N,Y,Y if individual is positive for f3393 and >55yo,Y if individual is positive for f2247 and >55yo,Y if individual is positive for f2257 and >55yo,Y,NaN,NaN
388,f.41271,V412 Problems with hearing,0.0,N,Y,Y,N,N,NaN,NaN,NaN
389,f.41271,V532 Fitting and adjustment of hearing aid,0.0,N,Y,Y,N,N,NaN,NaN,NaN

In [83]:
ex_critia_ctrl_icd9 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_icd9["Phenotype"].tolist()]
ex_critia_ctrl_icd9

['3880',
 '3881',
 '3882',
 '3883',
 '3884',
 '3888',
 '3889',
 '3891',
 '3892',
 '3897',
 '3898',
 '3899',
 'V412',
 'V532']

In [84]:
icd9 = filtered[icd9_colnames]
icd9

,f.41271.0.0,f.41271.0.1,f.41271.0.2,f.41271.0.3,f.41271.0.4,f.41271.0.5,f.41271.0.6,f.41271.0.7,f.41271.0.8,f.41271.0.9,...,f.41271.0.37,f.41271.0.38,f.41271.0.39,f.41271.0.40,f.41271.0.41,f.41271.0.42,f.41271.0.43,f.41271.0.44,f.41271.0.45,f.41271.0.46
0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3569,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3570,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3571,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3572,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [85]:
# collect the individuals who should not be part of controls because of icd 9 codes
ex_fxn_icd9 = lambda row: contains_exclusion(row, ex_critia_ctrl_icd9)
ex_9 = icd9.apply(ex_fxn_icd9, axis=1)

### 5.2.3. Collect f20002 codes to filter out from Ctrl

In [86]:
exclude_ctrl_f20002 = exclusion[(exclusion["UKBB_field_code"] == "f.20002") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_f20002

,UKBB_field_code,Phenotype,cases_UKB_showcase,Excluded_fulldb_lateonsetHI,Excluded_from_controls,Cases_f3393,Cases_f2247,Cases_f2257,Cases_Mendelian_like,Excluded_from_controls_Medelian_like,observations
543,f.20002,1597 tinnitus / tiniitis,1950.0,N,Y,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
f20002 = filtered[f20002_colnames]
f20002

,f.20002.0.0,f.20002.0.1,f.20002.0.2,f.20002.0.3,f.20002.0.4,f.20002.0.5,f.20002.0.6,f.20002.0.7,f.20002.0.8,f.20002.0.9,...,f.20002.3.24,f.20002.3.25,f.20002.3.26,f.20002.3.27,f.20002.3.28,f.20002.3.29,f.20002.3.30,f.20002.3.31,f.20002.3.32,f.20002.3.33
0,1155,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1220,1538,1351,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1065,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,1381,1294,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3569,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3570,1074,1065,1381,1349,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3571,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3572,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [88]:
ex_critia_ctrl_f20002 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_f20002["Phenotype"].tolist()]
ex_critia_ctrl_f20002

['1597']

In [89]:
# collect the individuals who should not be part of controls because of self-reported codes
ex_fxn_f20002 = lambda row: contains_exclusion(row, ex_critia_ctrl_f20002)
ex_f20002 = f20002.apply(ex_fxn_f20002, axis=1)

### 5.2.4. Filter out the HI Ctrl

In [90]:
temp = pure_ctrl | ex_10 | ex_9 | ex_f20002

In [91]:
# because individuals that are controls are labeled as 0
# temp says True if an individual is not a control and False if it is a control
# ex_10, ex_9, and ex_f20002 are True for individuals that are not controls and False for individuals that are controls
temp = pure_ctrl | ex_10 | ex_9 | ex_f20002

# we set the control as 0 for each individual that is False in temp
filtered_ctrl = [1 if i else 0 for i in temp.to_list()]

In [92]:
print(len(filtered_ctrl) - sum(filtered_ctrl), "individuals are controls after addition filtration for icd10, icd9 and self-reported codes")

2441 individuals are controls after addition filtration for icd10, icd9 and self-reported codes

In [93]:
filtered["hearing_imp_pure_ctrl"] = filtered_ctrl

/tmp/2206417.1.high_mem.q/ipykernel_13189/10965548.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["hearing_imp_pure_ctrl"] = filtered_ctrl

In [94]:
filtered

,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,...,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,sex,hearing_imp_pure_ctrl
0,32,1000697,1000697,Female,1965,October,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
1,63,1001447,1001447,Female,1961,June,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,1
2,88,1002004,1002004,Male,1957,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0,0
3,103,1002354,1002354,Female,1962,September,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
4,133,1003139,1003139,Female,1967,May,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3568,200488,6022490,6022490,Female,1958,July,Yes,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,1
3569,200515,6023054,6023054,Female,1941,September,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
3570,200594,6024740,6024740,Female,1945,December,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
3571,200605,6025018,6025018,Female,1960,February,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0
3572,200613,6025273,6025273,Female,1947,July,No,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,0

In [95]:
filtered = filtered.reset_index()

/tmp/2206417.1.high_mem.q/ipykernel_13189/476735807.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered = filtered.reset_index()

In [96]:
saved_3_filtered = filtered

In [97]:
filtered = saved_3_filtered

## 5.3. Identify All Age and Phenotype Columns

In [98]:
ages_f21003_col = [col for col in filtered if "f.21003" in col]
ages_f21003_col

['f.21003.0.0', 'f.21003.1.0', 'f.21003.2.0', 'f.21003.3.0']

In [99]:
ages_f131258_col = [col.strip('"') for col in header if 'f.131258' in col]
ages_f131258_col

['f.131258.0.0']

In [100]:
filtered[ages_f21003_col]

     f.21003.0.0 f.21003.1.0 f.21003.2.0 f.21003.3.0
0             42        <NA>        <NA>        <NA>
1             48        <NA>        <NA>        <NA>
2             50        <NA>        <NA>        <NA>
3             46        <NA>        <NA>        <NA>
4             41        <NA>        <NA>        <NA>
...          ...         ...         ...         ...
3513          50        <NA>        <NA>        <NA>
3514          68        <NA>        <NA>        <NA>
3515          64        <NA>        <NA>        <NA>
3516          50        <NA>        <NA>        <NA>
3517          61        <NA>        <NA>        <NA>

[3518 rows x 4 columns]

In [101]:
filtered[ages_f131258_col]

     f.131258.0.0
0            <NA>
1            <NA>
2            <NA>
3            <NA>
4            <NA>
...           ...
3513         <NA>
3514         <NA>
3515         <NA>
3516         <NA>
3517         <NA>

[3518 rows x 1 columns]

In [102]:
# get the latest time that an individual said no to any of the phenotypes
# return the oldest age that they were
def get_ctrl_age(row):
    phens = [hearing_imp_f3393, hearing_imp_f2247, hearing_imp_f2257]
    ages = []
    if row["hearing_imp_pure_ctrl"] == 0:
        temp_all_ages = row[ages_f21003_col].to_list()
        temp_all_ages.reverse()
        
        for phen in phens:
            temp = row[phen].to_list()
            temp.reverse()
            for en, i in enumerate(temp):
                if not pd.isna(i) and i == "No":
                    ages.append(temp_all_ages[en])
                    break
        ages.sort()
        return ages[-1]
    return pd.NA

# get the earliest time that an individual said yes to having a phenotype
def get_phen_age(row):
    if row[0] == 1:
        temp = row[1:-4].to_list()
        for en, i in enumerate(temp):
            if not pd.isna(i) and i == "Yes":
                return row[ages_f21003_col][en]
    else:
        return pd.NA
    
# return the minium age in the row, or else return NA
def get_min_age(row):
    temp = [i for i in row.to_list() if not pd.isna(i)]
    if len(temp) > 0:
        return min(temp)
    else:
        return pd.NA

In [103]:
# return 1 if we have a yes (used to find phenos)
def find_yes(row):
    for i in row:
        if not pd.isna(i) and i == "Yes":
            return 1
    return 0

# return 1 if we have a match for the mendelian traits and have at least one of the hearing phenotypes
def find_medelian_like(row):
    mendelian_icd10 = ["H903", "H905", "H906", "H908", "H913", "H918", "H919"]
    mendelian_icd9 = ["3891", "3892", "3897", "3898", "3899"]

    if 1 in row[["f3393", "f2247", "f2257"]].to_list():
        for en, i in enumerate(row[icd_10_cols]):
            if not pd.isna(i) and i in mendelian_icd10:
                return 1, get_ages_from_birth(row[icd10_ages[en:en+1]+year_of_birth+month_of_birth])
        for en, i in enumerate(row[icd_9_cols]):
            if not pd.isna(i) and i in mendelian_icd9:
                return 1, get_ages_from_birth(row[icd9_ages[en:en+1]+year_of_birth+month_of_birth])
    return 0, pd.NA

# return a 0 if the individual is not a case and 1 if they are a case
def find_exclusions(row):
    mendelian_icd10 = ["H903", "H904", "H905", "H906", "H907", "H908"]
    mendelian_icd9 = ["3891", "3892", "3897", "3898", "3899"]

    try:
        if 1 == row[0]: # the first column will be one of the phenotypes, "f3393", "f2247", or "f2257"
            for en, i in enumerate(row[icd_10_cols]):
                if not pd.isna(i) and i in mendelian_icd10:
                    if get_ages_from_birth(row[ages_f131258_col+year_of_birth+month_of_birth]) <= 55: # row[1] must be the age of the phenotype
                        return 0, pd.NA
                    return 1, get_ages_from_birth(row[ages_f131258_col+year_of_birth+month_of_birth])
            for en, i in enumerate(row[icd_9_cols]):
                if not pd.isna(i) and i in mendelian_icd9:
                    if get_ages_from_birth(row[icd9_ages[en:en+1]+year_of_birth+month_of_birth]) <= 55:
                        return 0, pd.NA
                    return 1, get_ages_from_birth(row[icd9_ages[en:en+1]+year_of_birth+month_of_birth])
        return int(row[0]), row[1] # the second column should be the ages of that phenotype
    except:
        print(row["name"])


# return 1 if we have a match for the other cases of f3393 or originally had f3393
def find_f3393_other_cases(row):
    icd10 = ["Z461", "Z974"]
    icd9 = ["V412", "V532"]
    if 0 == int(row["f3393"]):
        for en, i in enumerate(row[icd_10_cols]):
            if not pd.isna(i) and i in icd10:
                return 1, get_ages_from_birth(row[icd10_ages[en:en+1]+year_of_birth+month_of_birth])
        for en, i in enumerate(row[icd_9_cols]):
            if not pd.isna(i) and i in icd9:
                return 1, get_ages_from_birth(row[icd9_ages[en:en+1]+year_of_birth+month_of_birth])
    return int(row["f3393"]), row["f3393_age"]

# check if the h919 code exists in the individual
def check_code(row):
    for i in row:
        if not pd.isna(i) and i == "H919":
            return 1
    return 0

In [104]:
def get_ages_from_birth(row):
    month_dict = {'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10,'November':11,'December':12}
    year = 0
    month = 0
    i = row[0]
    if not pd.isna(i):
        i = i.split("-")
        year = i[0]
        month = i[1]
    if int(month) >= month_dict[row[month_of_birth[0]]]:
        return int(year) - int(row[year_of_birth[0]])
    return int(year) - int(row[year_of_birth[0]]) - 1

In [105]:
# f3393
hearing_imp_qs = filtered[hearing_imp_f3393]
filtered["f3393"] = hearing_imp_qs.apply(find_yes, axis=1)
filtered["f3393_age"] = filtered[["f3393"] + hearing_imp_f3393 + ages_f21003_col].apply(get_phen_age, axis=1)
filtered[["f3393", "f3393_age"]] = filtered[["f3393", "f3393_age"] + icd_10_cols + icd_9_cols + icd10_ages + icd9_ages + ages_f131258_col + year_of_birth + month_of_birth].apply(find_exclusions, axis=1, result_type='expand')
filtered[["f3393", "f3393_age"]] = filtered[["f3393", "f3393_age"] + icd_10_cols + icd_9_cols + icd10_ages + icd9_ages + year_of_birth + month_of_birth].apply(find_f3393_other_cases, axis=1, result_type='expand')

/tmp/2206417.1.high_mem.q/ipykernel_13189/4078825862.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f3393"] = hearing_imp_qs.apply(find_yes, axis=1)
/tmp/2206417.1.high_mem.q/ipykernel_13189/4078825862.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f3393_age"] = filtered[["f3393"] + hearing_imp_f3393 + ages_f21003_col].apply(get_phen_age, axis=1)

In [106]:
# check if we have f3393 ages
filtered[(filtered["f3393"] == 1) & (pd.isna(filtered["f3393_age"])) & (pd.isna(filtered[ages_f131258_col[0]]))][["f3393", "f3393_age"] + ages_f131258_col]

Empty DataFrame
Columns: [f3393, f3393_age, f.131258.0.0]
Index: []

In [107]:
# f2247
hearing_imp_qs = filtered[hearing_imp_f2247]
filtered["f2247"] = hearing_imp_qs.apply(find_yes, axis=1)
filtered["f2247_age"] = filtered[["f2247"] + hearing_imp_f2247 + ages_f21003_col].apply(get_phen_age, axis=1)
filtered[["f2247", "f2247_age"]] = filtered[["f2247", "f2247_age"] + icd_10_cols + icd_9_cols + icd10_ages + icd9_ages + ages_f131258_col + year_of_birth + month_of_birth].apply(find_exclusions, axis=1, result_type='expand')

/tmp/2206417.1.high_mem.q/ipykernel_13189/165492886.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2247"] = hearing_imp_qs.apply(find_yes, axis=1)
/tmp/2206417.1.high_mem.q/ipykernel_13189/165492886.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2247_age"] = filtered[["f2247"] + hearing_imp_f2247 + ages_f21003_col].apply(get_phen_age, axis=1)

In [108]:
# check if we have f2247 ages
filtered[(filtered["f2247"] == 1) & (pd.isna(filtered["f2247_age"]))][["f2247", "f2247_age"]]

Empty DataFrame
Columns: [f2247, f2247_age]
Index: []

In [109]:
# f2257
hearing_imp_qs = filtered[hearing_imp_f2257]
filtered["f2257"] = hearing_imp_qs.apply(find_yes, axis=1)
filtered["f2257_age"] = filtered[["f2257"] + hearing_imp_f2257 + ages_f21003_col].apply(get_phen_age, axis=1)
filtered[["f2257", "f2257_age"]] = filtered[["f2257", "f2257_age"] + icd_10_cols + icd_9_cols + icd10_ages + icd9_ages + ages_f131258_col + year_of_birth + month_of_birth].apply(find_exclusions, axis=1, result_type='expand')

/tmp/2206417.1.high_mem.q/ipykernel_13189/2446816283.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2257"] = hearing_imp_qs.apply(find_yes, axis=1)
/tmp/2206417.1.high_mem.q/ipykernel_13189/2446816283.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2257_age"] = filtered[["f2257"] + hearing_imp_f2257 + ages_f21003_col].apply(get_phen_age, axis=1)

In [110]:
# check if we have empty f2257 ages
filtered[(filtered["f2257"] == 1) & (pd.isna(filtered["f2257_age"]))][["f2257", "f2257_age"]]

Empty DataFrame
Columns: [f2257, f2257_age]
Index: []

In [111]:
# mendelian
filtered[["mendelian", "mendelian_age"]] = filtered[icd_10_cols + icd_9_cols + ["f3393", "f2247", "f2257"] + icd10_ages + icd9_ages + year_of_birth + month_of_birth].apply(find_medelian_like, axis=1, result_type='expand')

/home/dmc2245/miniconda3/lib/python3.8/site-packages/pandas/core/frame.py:3636: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[k1] = value[k2]

In [112]:
# check if we have empty mendelian ages
filtered[(filtered["mendelian"] == 1) & (pd.isna(filtered["mendelian_age"]))][["mendelian", "mendelian_age"]]

Empty DataFrame
Columns: [mendelian, mendelian_age]
Index: []

In [113]:
# ctrl age
filtered["ctrl_age"] = filtered[["hearing_imp_pure_ctrl"] + ages_f21003_col +  hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257].apply(get_ctrl_age, axis=1)

/tmp/2206417.1.high_mem.q/ipykernel_13189/2773894235.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["ctrl_age"] = filtered[["hearing_imp_pure_ctrl"] + ages_f21003_col +  hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257].apply(get_ctrl_age, axis=1)

In [114]:
# check if we have empty ctrl ages
filtered[(filtered["hearing_imp_pure_ctrl"] == 0) & (pd.isna(filtered["ctrl_age"]))][["hearing_imp_pure_ctrl", "ctrl_age"]]

Empty DataFrame
Columns: [hearing_imp_pure_ctrl, ctrl_age]
Index: []

In [115]:
# f2247_f2257
filtered["f2247_f2257"] = filtered["f2247"] & filtered["f2257"]
filtered["f2247_f2257_age"] = filtered[["f2247_age", "f2257_age"]].apply(get_min_age, axis=1)

/tmp/2206417.1.high_mem.q/ipykernel_13189/1833278327.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2247_f2257"] = filtered["f2247"] & filtered["f2257"]
/tmp/2206417.1.high_mem.q/ipykernel_13189/1833278327.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered["f2247_f2257_age"] = filtered[["f2247_age", "f2257_age"]].apply(get_min_age, axis=1)

In [116]:
# check if we have empty f2247_f2257 ages
filtered[(filtered["f2247_f2257"] == 1) & (pd.isna(filtered["f2247_f2257_age"]))][["f2247_f2257", "f2247_f2257_age"]]

Empty DataFrame
Columns: [f2247_f2257, f2247_f2257_age]
Index: []

## 5.4. File Output

In [117]:
filtered

,level_0,index,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,...,f3393_age,f2247,f2247_age,f2257,f2257_age,mendelian,mendelian_age,ctrl_age,f2247_f2257,f2247_f2257_age
0,0,32,1000697,1000697,Female,1965,October,No,<NA>,<NA>,...,NaN,0,NaN,0,<NA>,0,<NA>,42,0,<NA>
1,1,63,1001447,1001447,Female,1961,June,No,<NA>,<NA>,...,NaN,0,NaN,1,48,0,<NA>,<NA>,0,48
2,2,88,1002004,1002004,Male,1957,February,No,<NA>,<NA>,...,NaN,0,NaN,0,<NA>,0,<NA>,50,0,<NA>
3,3,103,1002354,1002354,Female,1962,September,No,<NA>,<NA>,...,NaN,0,NaN,0,<NA>,0,<NA>,46,0,<NA>
4,4,133,1003139,1003139,Female,1967,May,No,<NA>,<NA>,...,NaN,0,NaN,0,<NA>,0,<NA>,41,0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,3568,200488,6022490,6022490,Female,1958,July,Yes,<NA>,<NA>,...,NaN,1,50,0,NaN,0,<NA>,<NA>,0,50
3514,3569,200515,6023054,6023054,Female,1941,September,No,<NA>,<NA>,...,NaN,0,<NA>,0,NaN,0,<NA>,68,0,<NA>
3515,3570,200594,6024740,6024740,Female,1945,December,No,<NA>,<NA>,...,NaN,0,<NA>,0,NaN,0,<NA>,64,0,<NA>
3516,3571,200605,6025018,6025018,Female,1960,February,No,<NA>,<NA>,...,NaN,0,<NA>,0,NaN,0,<NA>,50,0,<NA>
3517,3572,200613,6025273,6025273,Female,1947,July,No,<NA>,<NA>,...,NaN,0,<NA>,0,NaN,0,<NA>,61,0,<NA>

In [118]:
filtered[filtered["hearing_imp_pure_ctrl"] == 0][["FID", "IID", "sex", "hearing_imp_pure_ctrl", "ctrl_age", "ethnicity"]].to_csv("pure_ctrl_pheno_file.tsv", sep='\t', index=False)

In [119]:
filtered[filtered["f3393"] == 1][["FID", "IID", "sex", "f3393", "f3393_age"]]

          FID      IID  sex  f3393 f3393_age
375   1546735  1546735    0      1        57
380   1552258  1552258    1      1        66
386   1561706  1561706    0      1        65
397   1583385  1583385    0      1        47
441   1648332  1648332    0      1        65
538   1781407  1781407    0      1        52
564   1820464  1820464    1      1        66
631   1919772  1919772    1      1        65
770   2104709  2104709    1      1        60
773   2106722  2106722    0      1        42
846   2212026  2212026    1      1        45
950   2360002  2360002    0      1        67
974   2396467  2396467    0      1        64
1088  2552797  2552797    0      1        69
1135  2614935  2614935    0      1        51
1200  2706716  2706716    1      1        64
1317  2852316  2852316    1      1        56
1398  2984579  2984579    1      1        59
1555  3207380  3207380    1      1        41
1783  3542540  3542540    1      1        64
1803  3572936  3572936    1      1        46
1874  3685875  3685875    0      1        57
1877  3687376  3687376    0      1        48
1912  3751492  3751492    1      1        62
1951  3818258  3818258    0      1        43
2050  3944109  3944109    1      1        53
2122  4038719  4038719    0      1        48
2150  4070795  4070795    1      1        80
2231  4180089  4180089    1      1        55
2284  4271440  4271440    0      1        73
2326  4329998  4329998    0      1        57
2641  4769099  4769099    0      1        65
2681  4830343  4830343    1      1        66
2820  5042459  5042459    0      1        45
2908  5156062  5156062    1      1        51
2955  5227325  5227325    0      1        52
3140  5473769  5473769    1      1        66
3273  5675913  5675913    0      1        67
3321  5762256  5762256    1      1        62
3373  5843810  5843810    0      1        63

In [120]:
filtered[filtered["f3393"] == 1][["FID", "IID", "sex", "f3393", "f3393_age", "ethnicity"]].to_csv("f3393_pheno_file.tsv", sep='\t', index=False)

In [121]:
filtered[filtered["f2247"] == 1][["FID", "IID", "sex", "f2247", "f2247_age", "ethnicity"]]

          FID      IID  sex  f2247 f2247_age
8     1008960  1008960    1      1        63
20    1028105  1028105    1      1        63
27    1034329  1034329    0      1        51
28    1035408  1035408    0      1        56
39    1053188  1053188    1      1        56
...       ...      ...  ...    ...       ...
3456  5948485  5948485    0      1        63
3490  5995886  5995886    0      1        47
3511  6019879  6019879    1      1        62
3512  6022326  6022326    1      1        69
3513  6022490  6022490    1      1        50

[401 rows x 5 columns]

In [122]:
filtered[filtered["f2247"] == 1][["FID", "IID", "sex", "f2247", "f2247_age", "ethnicity"]].to_csv("f2247_pheno_file.tsv", sep='\t', index=False)

In [123]:
filtered[filtered["f2257"] == 1][["FID", "IID", "sex", "f2257", "f2257_age", "ethnicity"]]

          FID      IID  sex  f2257 f2257_age
1     1001447  1001447    1      1        48
7     1008785  1008785    1      1        42
8     1008960  1008960    1      1        63
10    1013318  1013318    0      1        61
11    1014002  1014002    1      1        61
...       ...      ...  ...    ...       ...
3464  5962275  5962275    0      1        43
3501  6007328  6007328    1      1        49
3502  6012582  6012582    1      1        59
3511  6019879  6019879    1      1        62
3512  6022326  6022326    1      1        69

[796 rows x 5 columns]

In [124]:
filtered[filtered["f2257"] == 1][["FID", "IID", "sex", "f2257", "f2257_age", "ethnicity"]].to_csv("f2257_pheno_file.tsv", sep='\t', index=False)

In [125]:
filtered[filtered["f2247_f2257"] == 1][["FID", "IID", "sex", "f2247_f2257", "f2247_f2257_age", "ethnicity"]]

          FID      IID  sex  f2247_f2257 f2247_f2257_age
8     1008960  1008960    1            1              63
20    1028105  1028105    1            1              63
27    1034329  1034329    0            1              51
39    1053188  1053188    1            1              56
140   1195345  1195345    1            1              55
...       ...      ...  ...          ...             ...
3441  5928545  5928545    0            1              42
3451  5944318  5944318    1            1              47
3456  5948485  5948485    0            1              63
3511  6019879  6019879    1            1              62
3512  6022326  6022326    1            1              69

[270 rows x 5 columns]

In [126]:
filtered[filtered["f2247_f2257"] == 1][["FID", "IID", "sex", "f2247_f2257", "f2247_f2257_age", "ethnicity"]].to_csv("f2247_f2257_pheno_file.tsv", sep='\t', index=False)

In [127]:
filtered[filtered["mendelian"] == 1][["FID", "IID", "sex", "mendelian", "mendelian_age", "ethnicity"]]

          FID      IID  sex  mendelian mendelian_age
451   1670467  1670467    0          1            77
504   1742901  1742901    0          1            58
538   1781407  1781407    0          1            59
631   1919772  1919772    1          1            76
746   2062816  2062816    1          1            73
822   2174917  2174917    0          1            61
950   2360002  2360002    0          1            77
1918  3761801  3761801    1          1            53
2150  4070795  4070795    1          1            80
2284  4271440  4271440    0          1            73
2535  4621786  4621786    1          1            38
2583  4688636  4688636    1          1            68
2711  4879341  4879341    1          1            73
2820  5042459  5042459    0          1            55
2908  5156062  5156062    1          1            56
2930  5183376  5183376    0          1            53
3001  5295007  5295007    1          1            68
3063  5371138  5371138    0          1            60
3140  5473769  5473769    1          1            74
3221  5603065  5603065    0          1            73
3321  5762256  5762256    1          1            73
3423  5908076  5908076    0          1            73

In [128]:
filtered[filtered["mendelian"] == 1][["FID", "IID", "sex", "mendelian", "mendelian_age", "ethnicity"]].to_csv("mendelian_pheno_file.tsv", sep='\t', index=False)

# 6. Tinnitus

## 6.1. Remove inconsistencies or unclear individuals

### 6.1.1. Prior to filtering for inconsistencies

<b>Tinnitus</b> <br>
f.4803 = {'No, never': 76141,
 'Yes, but not now, but have in the past': 11400,
 'Yes, now some of the time': 9788,
 'Yes, now a lot of the time': 2973,
 'Yes, now most or all of the time': 7426,
 'Do not know': 1745,
 'Prefer not to answer': 127}

### 6.1.2. Inconsistencies in the tinnitus answers

In [ ]:
filtered = saved_filtered

In [ ]:
tin_cols = [col for col in filtered if "f.4803" in col]

icd_10_cols = [col for col in df if "f.41270" in col]
icd_9_cols = [col for col in df if "f.41271" in col]

In [ ]:
tin_ans = {"Do not know":9, 'Yes, but not now, but have in the past':1, 'Yes, now some of the time':1, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}
options = set()
# pass one pheno at a time
def find_options(row):
    answer = "".join([str(tin_ans[i]) for i in row if not pd.isna(i) and i != "Prefer not to answer"])
    options.add(answer)

In [ ]:
s = filtered[tin_cols].apply(find_options, axis=1)

In [ ]:
options

In [ ]:
# we might have inconsistencies if we have don't knows mixed with other answers or even yes and no together
# options contains the set of all unique codes 

do_not_know_no = [i for i in options if '0' in i and '9' in i and '1' not in i]
do_not_know_yes = [i for i in options if '0' not in i and '9' in i and '1' in i]
yes_no = [i for i in options if '0' in i and '9' not in i and '1' in i]
with_all_three = [i for i in options if '0' in i and '9' in i and '1' in i]

# collecting all possible occurances that can be flagged for being inconsistent
might_inconsistent = do_not_know_no + do_not_know_yes + yes_no + with_all_three

# these are exceptions to the possibilities we have that can be flagged for being inconsistent
exceptions = ["91","911","9111","991","0001","001","0011","01","011","0111", "0091", "091","0911","0991","9001","901","9011", "90", "900", "9000", "990"]

# collect the list of answer combinations that are actually inconsistent by removing the answer combinations that are exceptions
inconsistent = [i for i in might_inconsistent if i not in exceptions]

In [ ]:
inconsistent

#### 6.1.2.1. Filtering out the data

In [ ]:
filtered

In [ ]:
# will return true if that row should be removed
# pass one pheno at a time
def find_inconsistencies(row):
    for i in row:
        if not pd.isna(i) and i == "I am completely deaf":
            return True
    
    answer = "".join([str(tin_ans[i]) for i in row if not pd.isna(i) and i != "I am completely deaf" and i != "Prefer not to answer"])
    if answer in inconsistent:
        return True
    return False

In [ ]:
exclude = filtered[tin_cols].apply(find_inconsistencies, axis=1)
filtered = filtered[~exclude]

In [ ]:
filtered

## 6.2. Identify Pure Control

Need to make sure that for tinnitus we obtain the individuals that say no.

The conditions for saying no are as follows:
* Never saying yes
* Not being inconsistent
* Saying no at least once (prefer not to say is allowed)

We are also not including individuals to be part of the control group if they have certain codes for ICD9, ICD10, or f.20002 (this is in the case that they say no to all tinnitus). However these individuals can still be part of the cases

In [ ]:
tin_ans = {"Do not know":9, 'Yes, but not now, but have in the past':1, 'Yes, now some of the time':1, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}

# returns 0 if it's a ctrl or else 1
def find_ctrl(row):
    answer = "".join([str(tin_ans[i]) for i in row if not pd.isna(i) and i != "Prefer not to answer"])
    if "0" in answer and "1" not in answer:
        return False
    return True

In [ ]:
f4803_ctrl = filtered[tin_cols].apply(find_ctrl, axis=1)

In [ ]:
sum(f4803_ctrl)

### 6.2.1. Collect ICD 10 codes to filter out from Ctrl

In [ ]:
exclude_ctrl_icd10 = exclusion[(exclusion["UKBB_field_code"] == "f.41270") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_icd10

In [ ]:
ex_critia_ctrl_icd10 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_icd10["Phenotype"].tolist()]
ex_critia_ctrl_icd10

In [ ]:
icd10 = filtered[icd10_colnames]
icd10

In [ ]:
ex_fxn_icd10 = lambda row: contains_exclusion(row, ex_critia_ctrl_icd10)
ex_10 = icd10.apply(ex_fxn_icd10, axis=1)

### 6.2.2. Collect ICD 9 codes to filter out from Ctrl

In [ ]:
exclude_ctrl_icd9 = exclusion[(exclusion["UKBB_field_code"] == "f.41271") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_icd9

In [ ]:
ex_critia_ctrl_icd9 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_icd9["Phenotype"].tolist()]
ex_critia_ctrl_icd9

In [ ]:
icd9 = filtered[icd9_colnames]
icd9

In [ ]:
ex_fxn_icd9 = lambda row: contains_exclusion(row, ex_critia_ctrl_icd9)
ex_9 = icd9.apply(ex_fxn_icd9, axis=1)

### 6.2.3. Collect f20002 codes to filter out from Ctrl

In [ ]:
exclude_ctrl_f20002 = exclusion[(exclusion["UKBB_field_code"] == "f.20002") & (exclusion["Excluded_from_controls"] == 'Y') ]
exclude_ctrl_f20002

In [ ]:
f20002 = filtered[f20002_colnames]
f20002

In [ ]:
ex_critia_ctrl_f20002 = ["".join( (i.split(" ")[0]).split(".") ) for i in exclude_ctrl_f20002["Phenotype"].tolist()]
ex_critia_ctrl_f20002

In [ ]:
ex_fxn_f20002 = lambda row: contains_exclusion(row, ex_critia_ctrl_f20002)
ex_f20002 = f20002.apply(ex_fxn_f20002, axis=1)

### 6.2.4. Collect individuals with other tinnitus codes to filter out from CTRL

In [ ]:
# check if the given code exists in the individuals
def check_code(row, code):
    for i in row:
        if not pd.isna(i) and i == code:
            return 1
    return 0

In [ ]:
tinn_icd10_check_code = lambda row: check_code(row, "H931")
tinn_icd10 = filtered[icd_10_cols].apply(tinn_icd10_check_code, axis = 1)

In [ ]:
tinn_icd9_check_code = lambda row: check_code(row, "3883")
tinn_icd9 = filtered[icd_9_cols].apply(tinn_icd9_check_code, axis = 1)

In [ ]:
self_report_cols = [col for col in filtered if "f.20002" in col]
tinn_self_report_check_code = lambda row: check_code(row, "1597")
tinn_self_report = filtered[self_report_cols].apply(tinn_self_report_check_code, axis = 1)

### 6.2.5. Filter out Tinnitus Ctrl

In [ ]:
sum(f4803_ctrl | ex_10 | ex_9 | ex_f20002 | tinn_icd10 | tinn_icd9 | tinn_self_report)

In [ ]:
temp = f4803_ctrl | ex_10 | ex_9 | ex_f20002 | tinn_icd10 | tinn_icd9 | tinn_self_report
filtered_ctrl = [1 if i else 0 for i in temp.to_list()]

In [ ]:
filtered["tinnitus_pure_ctrl"] = filtered_ctrl

In [ ]:
filtered

## 6.3. Identify Age

In [ ]:
ages_f21003_col = [col for col in filtered if "f.21003" in col]
ages_f21003_col

In [ ]:
#get the minimum age of each individual in the given columns
def get_min_age(row):
    temp = [i for i in row.to_list() if not pd.isna(i)]
    if len(temp) > 0:
        return min(temp)
    else:
        return pd.NA

In [ ]:
filtered["tinnitus_age"] = filtered[ages_f21003_col].apply(get_min_age, axis=1)

In [ ]:
saved_tinn = filtered

In [ ]:
filtered = saved_tinn

## 6.4. Noisy workplace and Loud Music Variable

Two variables that we need to control for in the analysis are f.4825 (noisy workplace) and f.4836 (loud music).

### 6.4.1. Check for inconsistencies

<b>f.4825 "Have you ever worked in a noisy place where you had to shout to be heard?"</b> <br>
"No"= "0", <br>
"Yes, for less than a year"= "1", <br>
"Yes, for around 1-5 years"= "2", <br>
"Yes, for more than 5 years"= "3", <br>
"Prefer not to answer"= NA, <br>
"Do not know"= NA <br>

<b>f.4836 "Have you ever listened to music for more than 3 hours per week at a volume which you would need to shout to be heard or, if wearing headphones, someone else would need to shout for you to hear them?" </b> <br>
"No"= "0", <br>
"Yes, for less than a year"= "1", <br>
"Yes, for around 1-5 years"= "2", <br>
"Yes, for more than 5 years"= "3", <br>
"Prefer not to answer"= NA, <br>
"Do not know"= NA <br>

In [ ]:
noise_wp_cols = [col for col in df if "f.4825" in col]
loud_music_cols = [col for col in df if "f.4836" in col]

In [ ]:
noise_loud_answers = {"No":0, "Yes, for less than a year":1, "Yes, for around 1-5 years":2, "Yes, for more than 5 years":3}

# if the answers we have are not sorted in the order that they're in the list, then that individual is inconsistent
def find_inconsistencies_noisy_loud(row):
    ans = [noise_loud_answers[i] for i in row if i in noise_loud_answers.keys()] 
    return sorted(ans) != ans

In [ ]:
exclude = filtered[noise_wp_cols].apply(find_inconsistencies_noisy_loud, axis=1)
filtered = filtered[~exclude]

In [ ]:
exclude = filtered[loud_music_cols].apply(find_inconsistencies_noisy_loud, axis=1)
filtered = filtered[~exclude]

### 6.4.2. Label Noise and Loud Music

In [ ]:
# find individuals that have yes for either noise or loud sounds
def find_label_noisy_loud(row):
    ans = [noise_loud_answers[i] for i in row if i in noise_loud_answers.keys()]
    if len(ans) > 0:
        return ans[-1]
    return pd.NA

In [ ]:
filtered["noise_wp"] = filtered[noise_wp_cols].apply(find_label_noisy_loud, axis=1)

In [ ]:
filtered["noise_wp"] = filtered["noise_wp"].fillna( int(filtered["noise_wp"].median(skipna=True)) )

In [ ]:
filtered["loud_music"] = filtered[loud_music_cols].apply(find_label_noisy_loud, axis=1)

In [ ]:
filtered["loud_music"] = filtered["loud_music"].fillna( int(filtered["loud_music"].median(skipna=True)) )

In [ ]:
filtered

## 6.5. Identify Cases

**Analysis plan:**

1. Individuals who currently have tinnitus (all four yes categories) vs no never only controlling for sex, age, noisy workplace and loud music frequency ("crude") (No tinnitus vs anytype of tinnitus). For this analysis the missing data of the noise variables was imputed using the median for cases and controls separately

3. Individuals in the two top YES categories vs NO never ('No' tinnitus vs 'Yes, now all of the time' and 'Yes, now most of the time')

4. Individuals that say yes in the top 3 categories vs No never (Remove category 'yes, but not now, but have it in the past')

5. Individuals who currently have tinnitus (all four yes categories and tinnitus codes). Not filtering for issues with noisy workplace and loud music.

In [ ]:
# return 1 if we have a yes (used to find phenos)
def find_yes(row):
    for i in row:
        if not pd.isna(i) and i != "Prefer not to answer" and i in tin_ans.keys() and tin_ans[i] == 1:
            return 1
    return 0

### 6.5.1. Analysis Plan 1

In [ ]:
tin_ans = {"Do not know":9, 'Yes, but not now, but have in the past':1, 'Yes, now some of the time':1, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}

In [ ]:
tinn_yes = filtered[tin_cols].apply(find_yes, axis=1)

In [ ]:
filtered["tinnitus_1"] = tinn_yes

### 6.5.2. Analysis Plan 2

In [ ]:
tin_ans = {"Do not know":9, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}

In [ ]:
tinn_yes = filtered[tin_cols].apply(find_yes, axis=1)

In [ ]:
filtered["tinnitus_2"] = tinn_yes

### 6.5.3. Analysis Plan 3

In [ ]:
tin_ans = {"Do not know":9, 'Yes, now some of the time':1, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}

In [ ]:
tinn_yes = filtered[tin_cols].apply(find_yes, axis=1)

In [ ]:
sum(tinn_yes)

In [ ]:
filtered["tinnitus_3"] = tinn_yes

### 6.5.4. Analysis Plan 4

In [ ]:
filtered_for4 = saved_tinn

In [ ]:
tin_ans = {"Do not know":9, 'Yes, but not now, but have in the past':1, 'Yes, now some of the time':1, 'Yes, now a lot of the time':1, 'Yes, now most or all of the time':1, 'No, never':0}

In [ ]:
tinn_yes = filtered_for4[tin_cols].apply(find_yes, axis=1)

In [ ]:
sum(tinn_yes | tinn_icd10 | tinn_icd9 | tinn_self_report)

In [ ]:
filtered_for4["tinnitus_4"] = tinn_yes | tinn_icd10 | tinn_icd9 | tinn_self_report

In [ ]:
sum(filtered_for4["tinnitus_4"])

## 6.6. File Output

In [ ]:
filtered

In [ ]:
filtered_for4

In [ ]:
filtered[filtered["tinnitus_pure_ctrl"] == 0][["FID", "IID", "sex", "tinnitus_pure_ctrl", "tinnitus_age", "noise_wp", "loud_music"]].to_csv("tinnitus_pure_ctrl_pheno_file.tsv", sep='\t', index=False)
#filtered[filtered["tinnitus_pure_ctrl"] == 0][["FID", "IID", "sex", "tinnitus_pure_ctrl", "ctrl_age"]].to_csv("tinnitus_pure_ctrl_pheno_file.tsv", sep='\t', index=False)

In [ ]:
filtered[filtered["tinnitus_1"] == 1][["FID", "IID", "sex", "tinnitus_1", "tinnitus_age", "noise_wp", "loud_music"]].to_csv("tinnitus_1_pheno_file.tsv", sep='\t', index=False)

In [ ]:
filtered[filtered["tinnitus_2"] == 1][["FID", "IID", "sex", "tinnitus_2", "tinnitus_age", "noise_wp", "loud_music"]].to_csv("tinnitus_2_pheno_file.tsv", sep='\t', index=False)

In [ ]:
filtered[filtered["tinnitus_3"] == 1][["FID", "IID", "sex", "tinnitus_3", "tinnitus_age", "noise_wp", "loud_music"]].to_csv("tinnitus_3_pheno_file.tsv", sep='\t', index=False)

In [ ]:
filtered_for4[filtered_for4["tinnitus_4"] == 1][["FID", "IID", "sex", "tinnitus_4", "tinnitus_age"]].to_csv("tinnitus_4_pheno_file.tsv", sep='\t', index=False)

In [ ]:
filtered_for4[filtered_for4["tinnitus_4"] == 1][["FID", "IID", "sex", "tinnitus_4", "tinnitus_age"]]

# 7. Merge Pheno with Ctrl

## 7.1. f2247, f2257, f3393, and mendilian

In [129]:
ctrl_file_name = "pure_ctrl_pheno_file.tsv"
f3393_file_name = "f3393_pheno_file.tsv"
f2247_file_name = "f2247_pheno_file.tsv"
f2257_file_name = "f2257_pheno_file.tsv"
f2247_f2257_file_name = "f2247_f2257_pheno_file.tsv"
mendilianlike_file_name = "mendelian_pheno_file.tsv"

In [130]:
f3393 = pd.read_csv(f3393_file_name, sep="\t")
f2247 = pd.read_csv(f2247_file_name, sep="\t")
f2257 = pd.read_csv(f2257_file_name, sep="\t")
f2247_f2257 = pd.read_csv(f2247_f2257_file_name, sep="\t")
ctrl = pd.read_csv(ctrl_file_name, sep="\t")
mendlike = pd.read_csv(mendilianlike_file_name, sep="\t")

In [131]:
print("ctrl: ",len(ctrl))
print("f2247: ",len(f2247))
print("f2257: ",len(f2257))
print("f2247_f2257: ",len(f2247_f2257))
print("f3393: ",len(f3393))
print("mendlike: ",len(mendlike))

ctrl:  2441
f2247:  401
f2257:  796
f2247_f2257:  270
f3393:  40
mendlike:  22

In [132]:
mendlike[mendlike["mendelian_age"] > 40]

        FID      IID  sex  mendelian  mendelian_age
0   1670467  1670467    0          1             77
1   1742901  1742901    0          1             58
2   1781407  1781407    0          1             59
3   1919772  1919772    1          1             76
4   2062816  2062816    1          1             73
5   2174917  2174917    0          1             61
6   2360002  2360002    0          1             77
7   3761801  3761801    1          1             53
8   4070795  4070795    1          1             80
9   4271440  4271440    0          1             73
11  4688636  4688636    1          1             68
12  4879341  4879341    1          1             73
13  5042459  5042459    0          1             55
14  5156062  5156062    1          1             56
15  5183376  5183376    0          1             53
16  5295007  5295007    1          1             68
17  5371138  5371138    0          1             60
18  5473769  5473769    1          1             74
19  5603065  5603065    0          1             73
20  5762256  5762256    1          1             73
21  5908076  5908076    0          1             73

In [133]:
mendlike[mendlike["mendelian_age"] < 18]

Empty DataFrame
Columns: [FID, IID, sex, mendelian, mendelian_age]
Index: []

### 7.1.1. f2247

In [134]:
# create pheno file
ctrl = ctrl.rename(columns={ctrl.columns[4]:"age", ctrl.columns[3]:f2247.columns[3]})
f2247 = f2247.rename(columns={f2247.columns[4]:"age"})

full_pheno = f2247.append(ctrl)
#full_pheno[["FID", "IID", "sex", "f2247", "age"]].to_csv("011422_UKBB_Hearing_difficulty_f2247_expandedwhite_45502cases_96601ctrl", sep='\t', index=False)
#full_pheno[["FID", "IID", "sex", "f2247", "age"]].to_csv("011422_UKBB_Hearing_difficulty_f2247_asian_728cases_2395ctrl", sep='\t', index=False)
full_pheno[["FID", "IID", "sex", "f2247", "age"]].to_csv("011822_UKBB_Hearing_difficulty_f2247_african_401cases_2441ctrl", sep='\t', index=False)

In [395]:
# create PCA pheno file
full_pheno[["FID", "IID", "ethnicity"]].to_csv("090321_UKBB_Hearing_difficulty_f2247_expandedwhite_45502cases_96601ctrl.phenopca", sep='\t', index=False)

In [135]:
# keep id file for genotype data selection
#full_pheno[["FID", "IID"]].to_csv("090321_UKBB_Hearing_difficulty_f2247_expandedwhite_45502cases_96601ctrl.keep_id", sep='\t', index=False, header=False)
# keep id file for genotype data selection for Asians
#full_pheno[["FID", "IID"]].to_csv("011422_UKBB_Hearing_difficulty_f2247_asian_728cases_2395ctrl.keep_id", sep='\t', index=False, header=False)
full_pheno[["FID", "IID"]].to_csv("011822_UKBB_Hearing_difficulty_f2247_african_401cases_2441ctrl.keep_id", sep='\t', index=False, header=False)

### 7.1.2. f2257

In [136]:
# create pheno file
ctrl = ctrl.rename(columns={ctrl.columns[4]:"age", ctrl.columns[3]:f2257.columns[3]})
f2257 = f2257.rename(columns={f2257.columns[4]:"age"})

full_pheno = f2257.append(ctrl)
#full_pheno[["FID", "IID", "sex", "f2257", "age"]].to_csv("090321_UKBB_Hearing_noise_f2257_expandedwhite_65660cases_96601ctrl", sep='\t', index=False)
#full_pheno[["FID", "IID", "sex", "f2257", "age"]].to_csv("011422_UKBB_Hearing_noise_f2257_asian_1515cases_2395ctrl", sep='\t', index=False)
full_pheno[["FID", "IID", "sex", "f2257", "age"]].to_csv("011822_UKBB_Hearing_noise_f2257_african_796cases_2441ctrl", sep='\t', index=False)

In [398]:
# create PCA pheno file
full_pheno[["FID", "IID", "ethnicity"]].to_csv("090321_UKBB_Hearing_noise_f2257_expandedwhite_65660cases_96601ctrl.phenopca", sep='\t', index=False)

In [137]:
# keep id file for genotype data selection
#full_pheno[["FID", "IID"]].to_csv("090321_UKBB_Hearing_noise_f2257_expandedwhite_65660cases_96601ctrl.keep_id", sep='\t', index=False, header=False)
#Asians
#full_pheno[["FID", "IID"]].to_csv("011422_UKBB_Hearing_noise_f2257_asian_1515cases_2395ctrl.keep_id", sep='\t', index=False, header=False)
#Africans
full_pheno[["FID", "IID"]].to_csv("011822_UKBB_Hearing_noise_f2257_african_796cases_2441ctrl.keep_id", sep='\t', index=False, header=False)

### 7.1.3. f2247_f2257

In [138]:
# create pheno file
ctrl = ctrl.rename(columns={ctrl.columns[4]:"age", ctrl.columns[3]:f2247_f2257.columns[3]})
f2247_f2257 = f2247_f2257.rename(columns={f2247_f2257.columns[4]:"age"})

full_pheno = f2247_f2257.append(ctrl)
#full_pheno[["FID", "IID", "sex", "f2247_f2257", "age"]].to_csv("090321_UKBB_Combined_f2247_f2257_expandedwhite_38410cases_96601ctrl", sep='\t', index=False)
# Asians
#full_pheno[["FID", "IID", "sex", "f2247_f2257", "age"]].to_csv("011422_UKBB_Combined_f2247_f2257_asian_598cases_2395ctrl", sep='\t', index=False)
# Africans
full_pheno[["FID", "IID", "sex", "f2247_f2257", "age"]].to_csv("011822_UKBB_Combined_f2247_f2257_african_270cases_2441ctrl", sep='\t', index=False)

In [401]:
# create PCA pheno file
full_pheno[["FID", "IID", "ethnicity"]].to_csv("090321_UKBB_Combined_f2247_f2257_expandedwhite_38410cases_96601ctrl.phenopca", sep='\t', index=False)

In [139]:
# keep id file for genotype data selection
#full_pheno[["FID", "IID"]].to_csv("090321_UKBB_Combined_f2247_f2257_expandedwhite_38410cases_96601ctrl.keep_id", sep='\t', index=False, header=False)
# Asian
#full_pheno[["FID", "IID"]].to_csv("011422_UKBB_Combined_f2247_f2257_asian_598cases_2395ctrl.keep_id", sep='\t', index=False, header=False)
#African
full_pheno[["FID", "IID"]].to_csv("011822_UKBB_Combined_f2247_f2257_african_270cases_2441ctrl.keep_id", sep='\t', index=False, header=False)

### 7.1.4. f3393

In [140]:
# create pheno file
ctrl = ctrl.rename(columns={ctrl.columns[4]:"age", ctrl.columns[3]:f3393.columns[3]})
f3393 = f3393.rename(columns={f3393.columns[4]:"age"})

full_pheno = f3393.append(ctrl)
#full_pheno[["FID", "IID", "sex", "f3393", "age"]].to_csv("090321_UKBB_Hearing_aid_f3393_expandedwhite_6436cases_96601ctrl", sep='\t', index=False)
# Asian
#full_pheno[["FID", "IID", "sex", "f3393", "age"]].to_csv("011422_UKBB_Hearing_aid_f3393_asian_96cases_2395ctrl", sep='\t', index=False)
# African
full_pheno[["FID", "IID", "sex", "f3393", "age"]].to_csv("011822_UKBB_Hearing_aid_f3393_african_40cases_2441ctrl", sep='\t', index=False)

In [404]:
# create PCA pheno file
full_pheno[["FID", "IID", "ethnicity"]].to_csv("090321_UKBB_Hearing_aid_f3393_expandedwhite_6436cases_96601ctrl.phenopca", sep='\t', index=False)

In [141]:
# keep id file for genotype data selection
#full_pheno[["FID", "IID"]].to_csv("090321_UKBB_Hearing_aid_f3393_expandedwhite_6436cases_96601ctrl.keep_id", sep='\t', index=False, header=False)
# Asian
#full_pheno[["FID", "IID"]].to_csv("011422_UKBB_Hearing_aid_f3393_asian_96cases_2395ctrl.keep_id", sep='\t', index=False, header=False)
# African
full_pheno[["FID", "IID"]].to_csv("011822_UKBB_Hearing_aid_f3393_african_40cases_2441ctrl.keep_id", sep='\t', index=False, header=False)

### 7.1.5. Mendelian

In [406]:
# create pheno file
ctrl = ctrl.rename(columns={ctrl.columns[4]:"age", ctrl.columns[3]:mendlike.columns[3]})
mendlike = mendlike.rename(columns={mendlike.columns[4]:"age"})

full_pheno = mendlike.append(ctrl)
full_pheno[["FID", "IID", "sex", "mendelian", "age"]].to_csv("090321_UKBB_Mendelian_expandedwhite_2686cases_96601ctrl", sep='\t', index=False)

In [407]:
# create PCA pheno file
full_pheno[["FID", "IID", "ethnicity"]].to_csv("090321_UKBB_Mendelian_expandedwhite_2686cases_96601ctrl.phenopca", sep='\t', index=False)

In [408]:
# keep id file for genotype data selection
full_pheno[["FID", "IID"]].to_csv("090321_UKBB_Mendelian_expandedwhite_2686rcases_96601ctrl.keep_id", sep='\t', index=False, header=False)

## 7.2. Tinnitus

In [409]:
tinnitus_ctrl_file_name = "tinnitus_pure_ctrl_pheno_file.tsv"
tinnitus_1_file_name = "tinnitus_1_pheno_file.tsv"
tinnitus_2_file_name = "tinnitus_2_pheno_file.tsv"
tinnitus_3_file_name = "tinnitus_3_pheno_file.tsv"
tinnitus_4_file_name = "tinnitus_4_pheno_file.tsv"

In [410]:
tinnitus_ctrl = pd.read_csv(tinnitus_ctrl_file_name, sep="\t")
tinnitus_1 = pd.read_csv(tinnitus_1_file_name, sep="\t")
tinnitus_2 = pd.read_csv(tinnitus_2_file_name, sep="\t")
tinnitus_3 = pd.read_csv(tinnitus_3_file_name, sep="\t")
tinnitus_4 = pd.read_csv(tinnitus_4_file_name, sep="\t")

In [411]:
tinnitus_ctrl = tinnitus_ctrl.rename(columns={tinnitus_ctrl.columns[4]:"age"})
tinnitus_1 = tinnitus_1.rename(columns={tinnitus_1.columns[4]:"age"})
tinnitus_2 = tinnitus_2.rename(columns={tinnitus_2.columns[4]:"age"})
tinnitus_3 = tinnitus_3.rename(columns={tinnitus_3.columns[4]:"age"})
tinnitus_4 = tinnitus_4.rename(columns={tinnitus_4.columns[4]:"age"})

In [224]:
print("ctrl: ",len(tinnitus_ctrl))
print("tinnitus 1: ",len(tinnitus_1))
print("tinnitus 2: ",len(tinnitus_2))
print("tinnitus 3: ",len(tinnitus_3))
print("tinnitus 4: ",len(tinnitus_4))

ctrl:  61857
tinnitus 1:  26195
tinnitus 2:  8763
tinnitus 3:  16934
tinnitus 4:  27053

### 7.2.1. Analysis 1

In [225]:
tinnitus_ctrl = tinnitus_ctrl.rename(columns={tinnitus_ctrl.columns[3]:tinnitus_1.columns[3]})
full_tinnitus_1 = tinnitus_1.append(tinnitus_ctrl)
full_tinnitus_1

           FID      IID  sex  tinnitus_1  age  noise_wp  loud_music
0      1000331  1000331    1           1   53         0           0
1      1000357  1000357    1           1   69         0           0
2      1000439  1000439    1           1   59         0           0
3      1000443  1000443    1           1   45         0           0
4      1000494  1000494    0           1   61         3           0
...        ...      ...  ...         ...  ...       ...         ...
61852  6025085  6025085    1           0   42         0           0
61853  6025145  6025145    0           0   50         0           0
61854  6025202  6025202    1           0   63         0           0
61855  6025319  6025319    1           0   56         0           0
61856  6025411  6025411    1           0   49         0           0

[88052 rows x 7 columns]

### 7.2.2. Analysis 2

In [226]:
tinnitus_ctrl = tinnitus_ctrl.rename(columns={tinnitus_ctrl.columns[3]:tinnitus_2.columns[3]})
full_tinnitus_2 = tinnitus_2.append(tinnitus_ctrl)
full_tinnitus_2

           FID      IID  sex  tinnitus_2  age  noise_wp  loud_music
0      1000713  1000713    0           1   58         0           0
1      1001123  1001123    1           1   62         0           0
2      1002859  1002859    0           1   61         0           0
3      1002926  1002926    0           1   69         2           0
4      1003258  1003258    0           1   69         3           0
...        ...      ...  ...         ...  ...       ...         ...
61852  6025085  6025085    1           0   42         0           0
61853  6025145  6025145    0           0   50         0           0
61854  6025202  6025202    1           0   63         0           0
61855  6025319  6025319    1           0   56         0           0
61856  6025411  6025411    1           0   49         0           0

[70620 rows x 7 columns]

### 7.2.3. Analysis 3

In [227]:
tinnitus_ctrl = tinnitus_ctrl.rename(columns={tinnitus_ctrl.columns[3]:tinnitus_3.columns[3]})
full_tinnitus_3 = tinnitus_3.append(tinnitus_ctrl)
full_tinnitus_3

           FID      IID  sex  tinnitus_3  age  noise_wp  loud_music
0      1000439  1000439    1           1   59         0           0
1      1000713  1000713    0           1   58         0           0
2      1001080  1001080    1           1   62         0           0
3      1001123  1001123    1           1   62         0           0
4      1001254  1001254    1           1   42         0           0
...        ...      ...  ...         ...  ...       ...         ...
61852  6025085  6025085    1           0   42         0           0
61853  6025145  6025145    0           0   50         0           0
61854  6025202  6025202    1           0   63         0           0
61855  6025319  6025319    1           0   56         0           0
61856  6025411  6025411    1           0   49         0           0

[78791 rows x 7 columns]

### 7.2.4. Analysis 4

In [ ]:
tinnitus_ctrl = tinnitus_ctrl.rename(columns={tinnitus_ctrl.columns[3]:tinnitus_4.columns[3]})
full_tinnitus_4 = tinnitus_4.append(tinnitus_ctrl[tinnitus_ctrl.columns[:-2]])
full_tinnitus_4