# Revision

## Investiagtes involving 35delG

How many 35delg homozygous individuals do we have in the white Europeans?

35delG: chr13:20189546:AC:A

In [59]:
import pandas as pd
raw = pd.read_csv("~/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/f2247.GJB2.Mask2.0.01/f2247.GJB2.Mask2.0.01.pathogenic.add35delG.raw",sep=" ",header=0)
raw[raw["chr13:20189546:AC:A_A"]==2]

,FID,IID,PAT,MAT,SEX,PHENOTYPE,chr13:20188948:AAC:A_A,chr13:20188965:T:C_C,chr13:20189019:T:C_C,chr13:20189031:C:G_G,...,chr13:20189481:A:G_G,chr13:20189487:C:T_T,chr13:20189488:G:A_A,chr13:20189511:C:T_T,chr13:20189523:A:G_G,chr13:20189538:T:G_G,chr13:20189542:T:C_C,chr13:20189546:AC:A_A,chr13:20189546:A:AC_AC,chr13:20189547:C:A_A
8860,1200363,1200363,0,0,0,-9,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
20087,5038702,5038702,0,0,0,-9,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0

In [2]:
plink --bfile ~/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered \
--keep-fam ~/UKBiobank/results/083021_PCA_results/090221_ldprun_unrelated/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.europeans.filtered.090221_ldprun_unrelated.filtered.fam \
--extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt \
--recode A \
--out ~/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean

PLINK v1.90b6.21 64-bit (19 Oct 2020)          www.cog-genomics.org/plink/1.9/
(C) 2005-2020 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean.log.
Options in effect:
  --bfile /home/gl2776/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered
  --extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt
  --keep-fam /home/gl2776/UKBiobank/results/083021_PCA_results/090221_ldprun_unrelated/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.europeans.filtered.090221_ldprun_unrelated.filtered.fam
  --out /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean
  --recode A

257855 MB RAM detected; reserving 128927 MB for main workspace.
Allocated 17208 MB successfully, after larger attempt(s) failed.
275621 variants loaded from .bim file.
200643 people (0 males, 0 females, 200643 ambiguous) loaded from .fam.
Ambiguous sex IDs written to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean.nosex
.
--extract: 1 variant remaining.
--keep-fam: 168206 people remaining.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 168206 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate in remaining samples is 0.999946.
1 variant and 168206 people pass filters and QC.
Note: No phenotypes present.
--recode A to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean.raw
... 101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899done.

In [4]:
import pandas as pd 
raw = pd.read_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.whiteEuropean.raw",header=0,sep=" ")
raw

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
0       1434748  1434748    0    0    0         -9                    0.0
1       5523981  5523981    0    0    0         -9                    0.0
2       5023838  5023838    0    0    0         -9                    0.0
3       4023729  4023729    0    0    0         -9                    0.0
4       4515669  4515669    0    0    0         -9                    1.0
...         ...      ...  ...  ...  ...        ...                    ...
168201  3925724  3925724    0    0    0         -9                    0.0
168202  4116439  4116439    0    0    0         -9                    0.0
168203  5915173  5915173    0    0    0         -9                    0.0
168204  1620695  1620695    0    0    0         -9                    0.0
168205  3678141  3678141    0    0    0         -9                    0.0

[168206 rows x 7 columns]

In [5]:
raw[raw["chr13:20189546:AC:A_A"]==2]

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
21623   4202093  4202093    0    0    0         -9                    2.0
29058   5245650  5245650    0    0    0         -9                    2.0
32081   1200363  1200363    0    0    0         -9                    2.0
47014   3947340  3947340    0    0    0         -9                    2.0
73750   5038702  5038702    0    0    0         -9                    2.0
110747  1911385  1911385    0    0    0         -9                    2.0

In [9]:
# Mendelian like samples
plink --bfile ~/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered \
--extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt \
--recode A \
--out ~/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all

PLINK v1.90b6.21 64-bit (19 Oct 2020)          www.cog-genomics.org/plink/1.9/
(C) 2005-2020 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all.log.
Options in effect:
  --bfile /home/gl2776/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered
  --extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt
  --out /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all
  --recode A

257855 MB RAM detected; reserving 128927 MB for main workspace.
Allocated 17208 MB successfully, after larger attempt(s) failed.
275621 variants loaded from .bim file.
200643 people (0 males, 0 females, 200643 ambiguous) loaded from .fam.
Ambiguous sex IDs written to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all.nosex
.
--extract: 1 variant remaining.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 200643 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate is 0.999955.
1 variant and 200643 people pass filters and QC.
Note: No phenotypes present.
--recode A to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all.raw
... 101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899done.

In [47]:
raw = pd.read_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.all.raw",header=0,sep=" ")
raw

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
0       1434748  1434748    0    0    0         -9                    0.0
1       5523981  5523981    0    0    0         -9                    0.0
2       5023838  5023838    0    0    0         -9                    0.0
3       4023729  4023729    0    0    0         -9                    0.0
4       4442146  4442146    0    0    0         -9                    0.0
...         ...      ...  ...  ...  ...        ...                    ...
200638  3925724  3925724    0    0    0         -9                    0.0
200639  4116439  4116439    0    0    0         -9                    0.0
200640  5915173  5915173    0    0    0         -9                    0.0
200641  1620695  1620695    0    0    0         -9                    0.0
200642  3678141  3678141    0    0    0         -9                    0.0

[200643 rows x 7 columns]

In [48]:
raw[raw["chr13:20189546:AC:A_A"]==2]

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
25830   4202093  4202093    0    0    0         -9                    2.0
34666   5245650  5245650    0    0    0         -9                    2.0
38278   1200363  1200363    0    0    0         -9                    2.0
56122   3947340  3947340    0    0    0         -9                    2.0
88001   5038702  5038702    0    0    0         -9                    2.0
131984  1911385  1911385    0    0    0         -9                    2.0
200192  4621786  4621786    0    0    0         -9                    2.0

In [46]:
samples = pd.read_csv("~/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Mendelian_expandedwhite_2686cases_96601ctrl",header=0,sep="\t")
samples

           FID      IID  sex  mendelian  age
0      1001196  1001196    0          1   60
1      1002548  1002548    0          1   71
2      1002888  1002888    0          1   74
3      1002944  1002944    0          1   73
4      1003258  1003258    0          1   74
...        ...      ...  ...        ...  ...
99282  6025251  6025251    0          0   56
99283  6025319  6025319    1          0   56
99284  6025346  6025346    1          0   53
99285  6025363  6025363    0          0   64
99286  6025411  6025411    1          0   49

[99287 rows x 5 columns]

In [52]:
homolist = raw[raw["chr13:20189546:AC:A_A"]==2]["IID"].to_list()
samples[samples["IID"].isin(homolist)]

Empty DataFrame
Columns: [FID, IID, sex, mendelian, age]
Index: []

In [2]:
# All white European
import pandas as pd
import numpy as np
with open("/mnt/mfs/statgen/UKBiobank/phenotype_files/HI_UKBB/082321_UKBB_exomes.csv") as fp:
    line = fp.readline() # header
    header = line.split(",")
    
    indiv = ["IID", "FID"]
    icd10_colnames = [col.strip('"') for col in header if "f.41270." in col]
    icd10_ages = [col.strip('"') for col in header if "f.41280." in col]
    icd9_colnames = [col.strip('"') for col in header if "f.41271." in col]
    icd9_ages = [col.strip('"') for col in header if "f.41281." in col]
    f20002_colnames = [col.strip('"') for col in header if "f.20002." in col]
    reported_sex = ["f.31.0.0"]
    genetic_sex = ["f.22001.0.0"]
    ethnicity = [col.strip('"') for col in header if "f.21000." in col]
    hearing_imp_f3393 = [col.strip('"') for col in header if "f.3393." in col]
    hearing_imp_f2247 = [col.strip('"') for col in header if "f.2247." in col]
    hearing_imp_f2257 = [col.strip('"') for col in header if "f.2257." in col]
    tin_cols = [col.strip('"') for col in header if "f.4803." in col]
    ages_f21003_col = [col.strip('"') for col in header if "f.21003." in col]
    ages_f131258_col = [col.strip('"') for col in header if 'f.131258.' in col]
    year_of_birth = [col.strip('"') for col in header if "f.34." in col]
    month_of_birth = [col.strip('"') for col in header if "f.52." in col]
    
combined_cols = indiv + icd10_colnames + icd10_ages + icd9_colnames + icd9_ages + f20002_colnames + ethnicity \
                + reported_sex + genetic_sex + hearing_imp_f3393 + hearing_imp_f2247 + hearing_imp_f2257 + \
                tin_cols + ages_f21003_col + ages_f131258_col + year_of_birth + month_of_birth
df = pd.read_csv("/mnt/mfs/statgen/UKBiobank/phenotype_files/HI_UKBB/082321_UKBB_exomes.csv", quotechar = '"', dtype="string", usecols=combined_cols)
df

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.38,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0
0,1000019,1000019,Female,1960,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1000035,1000035,Male,1944,May,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,1000078,1000078,Female,1955,June,No,No,No,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1000081,1000081,Male,1942,February,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,1000198,1000198,Female,1967,July,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1969-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,6025295,6025295,Male,1961,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,6025319,6025319,Female,1953,March,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,6025346,6025346,Female,1954,October,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,6025363,6025363,Male,1944,April,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,6025411,6025411,Female,1960,November,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [3]:
df[f20002_colnames]

,f.20002.0.0,f.20002.0.1,f.20002.0.2,f.20002.0.3,f.20002.0.4,f.20002.0.5,f.20002.0.6,f.20002.0.7,f.20002.0.8,f.20002.0.9,...,f.20002.3.24,f.20002.3.25,f.20002.3.26,f.20002.3.27,f.20002.3.28,f.20002.3.29,f.20002.3.30,f.20002.3.31,f.20002.3.32,f.20002.3.33
0,1111,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,1396,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,1075,1440,1473,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200614,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200615,1065,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200616,1452,1265,1387,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200617,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200618,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [4]:
def find_20002(row):
    if "1415" in row.dropna().to_list():
        return True
    return False
lis = df[f20002_colnames].apply(find_20002, axis=1)
lis.sum()

1720

In [8]:
list1415 = df[lis==True]["IID"].to_list()

In [6]:
idlist = pd.DataFrame(columns=["FID","IID"])
file = "/home/gl2776/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_aid_f3393_expandedwhite_6436cases_96601ctrl"
phe = pd.read_csv(file,header=0,sep="\t")
idlist = pd.concat([idlist,phe[["FID","IID"]]],ignore_index=True)
file = "/home/gl2776/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_difficulty_f2247_expandedwhite_45502cases_96601ctrl"
phe = pd.read_csv(file,header=0,sep="\t")
idlist = pd.concat([idlist,phe[["FID","IID"]]],ignore_index=True)
file = "/home/gl2776/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Hearing_noise_f2257_expandedwhite_65660cases_96601ctrl"
phe = pd.read_csv(file,header=0,sep="\t")
idlist = pd.concat([idlist,phe[["FID","IID"]]],ignore_index=True)
file = "/home/gl2776/UKBiobank/phenotype_files/hearing_impairment/090321_UKBB_Combined_f2247_f2257_expandedwhite_38410cases_96601ctrl"
phe = pd.read_csv(file,header=0,sep="\t")
idlist = pd.concat([idlist,phe[["FID","IID"]]],ignore_index=True)
idlist = idlist.drop_duplicates("FID")
idlist = idlist.astype("string")
idlist

            FID      IID
0       1001384  1001384
1       1002548  1002548
2       1002888  1002888
3       1002944  1002944
4       1003258  1003258
...         ...      ...
310792  6024469  6024469
310793  6024535  6024535
310795  6024578  6024578
310796  6024829  6024829
310798  6024870  6024870

[169452 rows x 2 columns]

In [9]:
filtered = df[df["IID"].isin(idlist["IID"].to_list())]
filtered[filtered["IID"].isin(list1415)]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.38,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0
227,1005452,1005452,Female,1942,August,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
365,1009003,1009003,Female,1950,July,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
440,1010797,1010797,Male,1945,December,Yes,Yes,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
679,1016310,1016310,Female,1944,December,No,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
746,1017781,1017781,Male,1946,February,Yes,Yes,Yes,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199840,6005906,6005906,Female,1956,February,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200093,6012471,6012471,Male,1961,July,No,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200389,6020151,6020151,Male,1957,November,Yes,Yes,Yes,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1997-08-21
200517,6023081,6023081,Female,1941,November,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
200557,6023914,6023914,Female,1955,February,Yes,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [10]:
def find_20002(row):
    if "1415" in row.dropna().to_list():
        return True
    return False
lis = filtered[f20002_colnames].apply(find_20002, axis=1)
lis.sum()

1316

In [23]:
qc_individuals = pd.read_csv("/mnt/mfs/statgen/UKBiobank/results/083021_PCA_results/europeans/cache/UKB_genotypedatadownloaded083019.090221_sample_variant_qc_final_callrate90.filtered.extracted.europeans.filtered.fam", sep="\t", header=None)
outlier = pd.read_csv("/mnt/mfs/statgen/UKBiobank/results/083021_PCA_results/090321_PCA_related_pval0.005/030821_ukb42495_exomed_white_189010ind.090321_PCA_related_pval0.005.pca.projected.outliers", sep="\t", header=None)
reported_sex = ["f.31.0.0"]
genetic_sex = ["f.22001.0.0"]
def inconsistent_sexes(row):
    return pd.isna(row[genetic_sex[0]]) or row[reported_sex[0]] != row[genetic_sex[0]]
ex_sex = df[reported_sex + genetic_sex].apply(inconsistent_sexes, axis=1)
filtered = df[~ex_sex]

In [24]:
print(sum(ex_sex), "individuals removed because of inconsistency with the genetic and reported sex variables")

233 individuals removed because of inconsistency with the genetic and reported sex variables

In [25]:
set(filtered[ethnicity[0]].to_list()).union( set(filtered[ethnicity[1]].to_list()) , set(filtered[ethnicity[2]].to_list()))

{<NA>,
 'African',
 'Any other Asian background',
 'Any other Black background',
 'Any other mixed background',
 'Any other white background',
 'Asian or Asian British',
 'Bangladeshi',
 'Black or Black British',
 'British',
 'Caribbean',
 'Chinese',
 'Do not know',
 'Indian',
 'Irish',
 'Mixed',
 'Other ethnic group',
 'Pakistani',
 'Prefer not to answer',
 'White',
 'White and Asian',
 'White and Black African',
 'White and Black Caribbean'}

In [26]:
# these should align with all possible options for ethnicity answers except for <NA>, Do not know, and Prefer not to answer
white = ['British', 'Irish', 'White','Any other white background']
african = ['Caribbean','White and Black Caribbean', 'African', 'White and Black African', 'Black or Black British', 'Any other Black background' ]
asian = ['Indian', 'Pakistani', 'White and Asian', 'Any other Asian background', 'Bangladeshi', 'Asian or Asian British']
mixed = ['Mixed', 'Any other mixed background']
chinese = ['Chinese']
other = ['Other ethnic group']

# figure out the ancestry of each individual
def ancestry(row):
    temp = [x for x in row[ethnicity] if not pd.isna(x) and x != "Prefer not to answer" and x != "Do not know"]
    if len(temp) == 0:
        return "Unknown"
    
    if len(set(temp)) == 1 and temp[0] in white: # if we have only one unique answer and the answer is in the white variable
        return "_".join(temp[0].split(" ")) # return the unique answer
    
    if len([x for x in temp if x in white]) == len(temp):
        return "Inconsistent_white"
    if len([x for x in temp if x in african]) == len(temp):
        return "African"
    if len([x for x in temp if x in asian]) == len(temp):
        return "Asian"
    if len([x for x in temp if x in mixed]) == len(temp):
        return "Mixed"
    if len([x for x in temp if x in chinese]) == len(temp):
        return "Chinese"
    if len([x for x in temp if x in other]) == len(temp):
        return "Other"
    return "Inconsistent"
filtered["ethnicity"] = filtered[ethnicity].apply(ancestry, axis=1)
def find_non_white(row):
    return row["ethnicity"] not in white and row["ethnicity"] != "Unknown" and row["ethnicity"] != "Inconsistent_white" and row["ethnicity"] != "Any_other_white_background"
ex_non_white = filtered[["ethnicity"]].apply(find_non_white, axis=1)
filtered = filtered[~ex_non_white]
print(sum(ex_non_white), "individuals removed for being non-white in the exome data")

/tmp/2541855.1.high_mem.q/ipykernel_25762/2855505625.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["ethnicity"] = filtered[ethnicity].apply(ancestry, axis=1)

11385 individuals removed for being non-white in the exome data

In [27]:
filtered.shape

(189001, 713)

In [28]:
qc_list = [str(i) for i in qc_individuals[0].to_list()]
def matches_qc_individuals(row):
    return row["FID"] in qc_list
filtered = filtered[filtered[["FID"]].apply(matches_qc_individuals, axis=1)]

In [29]:
out_ids = [str(x) for x in outlier[0].to_list()] 

def find_outliers(row):
    return row["IID"] in out_ids
ex_pca_outliers = filtered[["IID", "FID"]].apply(find_outliers, axis=1)
filtered = filtered[~ex_pca_outliers]
print(sum(ex_pca_outliers), "individuals removed for being pca outliers")

566 individuals removed for being pca outliers

In [30]:
filtered.shape

(187908, 713)

In [36]:
filtered[["FID","IID"]].to_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/allwhiteEuropean.sample.txt",sep="\t",index=False,header=False)

In [37]:
plink --bfile ~/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered \
--keep /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/allwhiteEuropean.sample.txt \
--extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt \
--recode A \
--out ~/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean

PLINK v1.90b6.21 64-bit (19 Oct 2020)          www.cog-genomics.org/plink/1.9/
(C) 2005-2020 Shaun Purcell, Christopher Chang   GNU General Public License v3
Logging to /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean.log.
Options in effect:
  --bfile /home/gl2776/UKBiobank/data/exome_files/project_VCF/072721_run/plink/ukb23156_c13.merged.filtered
  --extract /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.txt
  --keep /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/allwhiteEuropean.sample.txt
  --out /home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean
  --recode A

257855 MB RAM detected; reserving 128927 MB for main workspace.
Allocated 17208 MB successfully, after larger attempt(s) failed.
275621 variants loaded from .bim file.
200643 people (0 males, 0 females, 200643 ambiguous) loaded from .fam.
Ambiguous sex IDs written to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean.nosex
.
--extract: 1 variant remaining.
--keep: 187908 people remaining.
Using 1 thread (no multithreaded calculations invoked).
Before main variant filters, 187908 founders and 0 nonfounders present.
Calculating allele frequencies... 10111213141516171819202122232425262728293031323334353637383940414243444546474849505152535455565758596061626364656667686970717273747576777879808182838485868788899091929394959697989 done.
Total genotyping rate in remaining samples is 0.999952.
1 variant and 187908 people pass filters and QC.
Note: No phenotypes present.
--recode A to
/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean.raw
... 101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899done.

In [38]:
raw = pd.read_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/35delG.allwhiteEuropean.raw",header=0,sep=" ")
raw

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
0       1434748  1434748    0    0    0         -9                    0.0
1       5523981  5523981    0    0    0         -9                    0.0
2       5023838  5023838    0    0    0         -9                    0.0
3       4023729  4023729    0    0    0         -9                    0.0
4       4515669  4515669    0    0    0         -9                    1.0
...         ...      ...  ...  ...  ...        ...                    ...
187903  3925724  3925724    0    0    0         -9                    0.0
187904  4116439  4116439    0    0    0         -9                    0.0
187905  5915173  5915173    0    0    0         -9                    0.0
187906  1620695  1620695    0    0    0         -9                    0.0
187907  3678141  3678141    0    0    0         -9                    0.0

[187908 rows x 7 columns]

In [39]:
raw[raw["chr13:20189546:AC:A_A"]==2]

            FID      IID  PAT  MAT  SEX  PHENOTYPE  chr13:20189546:AC:A_A
24141   4202093  4202093    0    0    0         -9                    2.0
32420   5245650  5245650    0    0    0         -9                    2.0
35780   1200363  1200363    0    0    0         -9                    2.0
52512   3947340  3947340    0    0    0         -9                    2.0
82363   5038702  5038702    0    0    0         -9                    2.0
123649  1911385  1911385    0    0    0         -9                    2.0

In [54]:
homolist = raw[raw["chr13:20189546:AC:A_A"]==2]["IID"].astype("string").to_list()

In [55]:
filtered[filtered["IID"].isin(homolist)]

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2247.1.0,f.2247.2.0,f.2247.3.0,f.2257.0.0,...,f.41281.0.39,f.41281.0.40,f.41281.0.41,f.41281.0.42,f.41281.0.43,f.41281.0.44,f.41281.0.45,f.41281.0.46,f.131258.0.0,ethnicity
8010,1200363,1200363,Female,1965,February,Yes,<NA>,<NA>,<NA>,No,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
36395,1911385,1911385,Female,1950,March,I am completely deaf,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
117634,3947340,3947340,Male,1962,February,I am completely deaf,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
127739,4202093,4202093,Female,1951,June,I am completely deaf,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
161250,5038702,5038702,Male,1954,January,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
169467,5245650,5245650,Female,1960,June,Yes,<NA>,<NA>,<NA>,Yes,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2008-12-01,British

In [56]:
filtered[filtered["IID"].isin(homolist)].dropna(axis=1, how="all")

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2257.0.0,f.3393.0.0,f.20002.0.0,f.20002.0.1,...,f.41280.0.46,f.41280.0.47,f.41280.0.48,f.41280.0.49,f.41280.0.50,f.41280.0.51,f.41280.0.52,f.41281.0.0,f.131258.0.0,ethnicity
8010,1200363,1200363,Female,1965,February,Yes,No,Yes,1415,99999,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1988-07-10,<NA>,British
36395,1911385,1911385,Female,1950,March,I am completely deaf,<NA>,<NA>,1074,1113,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
117634,3947340,3947340,Male,1962,February,I am completely deaf,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
127739,4202093,4202093,Female,1951,June,I am completely deaf,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
161250,5038702,5038702,Male,1954,January,Yes,Yes,Yes,1415,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British
169467,5245650,5245650,Female,1960,June,Yes,Yes,Yes,1065,99999,...,2012-10-16,2013-10-10,2012-10-16,2008-12-01,2012-10-16,2012-02-18,2005-04-27,<NA>,2008-12-01,British

In [57]:
filtered[filtered["IID"].isin(homolist)].dropna(axis=1, how="all").to_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/6homo.info.csv",index=False)

In [60]:
twohomo = ["1200363","5038702"]
filtered[filtered["IID"].isin(twohomo)].dropna(axis=1, how="all")

,IID,FID,f.31.0.0,f.34.0.0,f.52.0.0,f.2247.0.0,f.2257.0.0,f.3393.0.0,f.20002.0.0,f.20002.0.1,...,f.41280.0.2,f.41280.0.3,f.41280.0.4,f.41280.0.5,f.41280.0.6,f.41280.0.7,f.41280.0.8,f.41280.0.9,f.41281.0.0,ethnicity
8010,1200363,1200363,Female,1965,February,Yes,No,Yes,1415,99999,...,2002-10-15,2002-10-15,2006-11-29,2006-11-29,2003-12-23,2007-12-05,2006-12-13,2000-02-11,1988-07-10,British
161250,5038702,5038702,Male,1954,January,Yes,Yes,Yes,1415,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,British

In [61]:
filtered[filtered["IID"].isin(twohomo)].dropna(axis=1, how="all").to_csv("/home/gl2776/UKBiobank/results/REGENIE_results/results_burden_exome/012822_anno_tables/revision/2homo.info.csv",index=False)